<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}" th:with="currentPage='camiones'">
<head>
<title th:text="#{page_camiones_modelo_detalle_info}"></title>
</head>
<body class="blanco">
	<div id="container" class="container" th:fragment="content">
		<br>
		<div class="row container center-block">
			<h3 th:if="${nombreDelCamion!=null}"
				class="pull-left text-success col-xs-6"
				th:text="${#strings.toUpperCase(nombreDelCamion)}"></h3>
		</div>
		<div th:if="${objecto}" th:object="${objecto}">
			<div class="panel-heading ">
				<div class="col-xs-12 text-right">
					<div class="btn-group text-center">
						<a th:href="@{#{link.camiones.editar}(id=*{id})}" class="btn-sm"><i
							class="glyphicon glyphicon-pencil"></i></a><a
							th:href="@{#{link.camiones.registro}}" class="btn-sm"><i
							class="glyphicon glyphicon-plus"></i> </a> <a
							th:href="@{#{link.camiones}}" class="btn-sm"> <i
							class="glyphicon glyphicon-list"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-hover">
						<tbody>
							<!-- nombre -->
							<tr>
								<td class="text-success"><label class="mayusculas"
									th:text="#{lbl_camion_nombre}"></label></td>
								<td th:if="*{nombre}">
									<p th:text="*{nombre}"></p>
								</td>
							</tr>
							<!-- matricula -->
							<tr>
								<td class="text-success"><label
									th:text="#{lbl_camion_matricula}"></label></td>

								<td>
									<p th:if="*{matricula}" th:text="*{matricula}"></p>
								</td>
							</tr>
							<!-- vin -->
							<tr>
								<td class="text-success"><label th:text="#{lbl_camion_vin}"></label></td>

								<td>
									<p th:if="*{vin}" th:text="*{vin}"></p>
								</td>
							</tr>
							<!-- conductor principal -->
							<tr>
								<td class="text-success"><label th:text="#{lbl_conductor}"></label></td>
								<td><a class="text-left" th:if="${conductor!=null}"
									th:text="${#strings.toUpperCase(conductor.apellidos + ' '  + conductor.nombre)}"
									th:href="@{#{link.trabajadores.detalles}(id=${conductor.id})}">
								</a></td>
							</tr>
							<!-- conductor suplente -->
							<tr>
								<td class="text-success"><label
									th:text="#{lbl_conductor_suplente}"></label></td>
								<!-- 
								<td>
									<select
									th:field="*{conductorSuplente}" disabled="disabled" id="modelo"
									class="text-right col-xs-6">
										<option value="" th:text="#{lbl_seleccione}"></option>
										<option th:if="${todosLosTrabajadores}!=null"
											th:each="row, index: ${todosLosTrabajadores}"
											th:value="${row.id}"
											th:text="${#strings.toUpperCase(row.apellidos + ' '  + row.nombre)}"></option>
								</select>
								</td>
								-->
								<td><a class="text-left" th:if="${conductorSuplente!=null}"
									th:text="${#strings.toUpperCase(conductorSuplente.apellidos + ' '  + conductorSuplente.nombre)}"
									th:href="@{#{link.trabajadores.detalles}(id=${conductorSuplente.id})}">
								</a></td>

							</tr>
							<!-- recogedor uno -->
							<tr>
								<td class="text-success"><label th:text="#{lbl_conductor}"></label></td>


								<!-- <td><select th:field="*{recogedorUno}" disabled="disabled"
									id="modelo" class="text-right col-xs-6">
										<option value="" th:text="#{lbl_seleccione}"></option>
										<option th:if="${todosLosTrabajadores}!=null"
											th:each="row, index: ${todosLosTrabajadores}"
											th:value="${row.id}"
											th:text="${#strings.toUpperCase(row.apellidos + ' '  + row.nombre)}"></option>
								</select></td>
								-->
								<td><a class="text-left" th:if="${recogedor1!=null}"
									th:text="${#strings.toUpperCase(recogedor1.apellidos + ' '  + recogedor1.nombre)}"
									th:href="@{#{link.trabajadores.detalles}(id=${recogedor1.id})}">
								</a></td>

							</tr>

							<!-- recogedor dos -->

							<tr>
								<td class="text-success"><label th:text="#{lbl_recolector}"></label></td>

								<td><a class="text-left" th:if="${recogedor2!=null}"
									th:text="${#strings.toUpperCase(recogedor2.apellidos + ' '  + recogedor2.nombre)}"
									th:href="@{#{link.trabajadores.detalles}(id=${recogedor2.id})}">
								</a></td>

								<!-- 
								<td><select th:field="*{RecogedorDos}" disabled="disabled"
									id="modelo" class="text-right col-xs-6">
										<option value="" th:text="#{lbl_seleccione}"></option>
										<option th:if="${todosLosTrabajadores}!=null"
											th:each="row, index: ${todosLosTrabajadores}"
											th:value="${row.id}"
											th:text="${#strings.toUpperCase(row.apellidos + ' '  + row.nombre)}"></option>
								</select></td>
								-->
							</tr>
							<!-- fecha de alta -->
							<tr>
								<td class="text-success"><i
									class="glyphicon glyphicon-calendar"></i> <label
									class="mayusculas" th:text="#{lbl_fechaAlta}"></label></td>
								<td>
									<p th:if="*{fechaAlta != null}"
										th:with="df=#{fecha_formato_completo}"
										th:text="*{{fechaAlta}}"></p>
								</td>
							</tr>

							<!-- fecha de baja -->
							<tr>
								<td class="text-success"><i
									class="glyphicon glyphicon-calendar"></i> <label
									class="mayusculas" th:text="#{lbl_fechaBaja}"></label></td>
								<td>
									<p th:if="*{fechaBaja != null}"
										th:with="df=#{fecha_formato_completo}"
										th:text="*{{fechaBaja}}"></p> <!-- 
									<div class="input-group date  has-feedback col-sm-6"
										id="datetimePicker">
										<input type="text" class="form-control" id="fechaBaja"
											th:field="*{fechaBaja}" th:data-provide="datepicker"
											th:with="df=#{fecha_formato}" data-date-format=df
											th:data-date-autoclose="true"
											th:data-date-today-highlight="true"
											th:data-date-orientation="bottom" disabled="disabled" />
									</div>
									-->

								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel-footer">
				<div class="pull-left">
					<a th:href="@{#{link.camiones}}"> <i
						class="glyphicon glyphicon-list"></i> &nbsp; <label
						th:text="#{lbl_lista_de_camiones}"></label>
					</a>
				</div>
				<br />
			</div>
		</div>
	</div>
</body>
</html>
