<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<nav th:fragment="nav(m)"
	class="navbar navbar-default navbar-static-top">

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<img th:src="@{/resources/static/img/header.png}"
			class="img-responsive" />
	</div>

	<div class="container">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="sr-only"> </span> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
			</button>

			<!--<a class="navbar-brand active" href="#" th:text="#{brand}"><img th:src="@{/resources/static/img/icon.png}"  class="img-responsive"/></a> -->
			<a class="navbar-brand" href="#" th:text="#{brand}"></a>
		</div>

		<div class="collapse navbar-collapse" id="navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li th:classappend="${currentPage == 'home'} ? 'active'"><a
					th:href="@{#{link.home}}"> <span
						class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;
						<label th:text="#{home}"></label>
				</a></li>
				<!-- TRABAJADORES -->
				<!--  -->
				<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
					th:classappend="${currentPage == 'trabajadores'} ? 'active'"
					th:class="dropdown" class="dropdown"><a
					class="dropdown-toggle" data-toggle="dropdown"
					th:text="#{trabajadores}" th:href="@{#{menu.trabajadores}}"><span
						class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;
						<label th:text="#{home}"></label> </a>
					<ul class="dropdown-menu">
						<li><a th:text="#{lbl_add}"
							th:href="@{#{link.trabajadores.registro}}"> </a></li>
						<li><a th:text="#{lbl_list_trabajadores}"
							th:href="@{#{link.trabajadores}}"> </a></li>
					</ul></li>

				<!-- CAMIONES -->
				<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
					th:classappend="${currentPage == 'camiones'} ? 'active'"
					th:class="dropdown" class="dropdown"><a
					class="dropdown-toggle" data-toggle="dropdown"
					th:text="#{camiones}" th:href="@{#{menu.camiones}}"> </a>
					<ul class="dropdown-menu">
						<li><a th:text="#{lbl_add}"
							th:href="@{#{link.camiones.registro}}"> </a></li>
						<li><a th:text="#{lbl_list_camiones}"
							th:href="@{#{link.camiones}}"> </a></li>
						<li><a th:text="#{page_camiones_modelos}"
							th:href="@{#{link.camiones.modelos}}"> </a></li>
					</ul></li>

				<!-- CONTENEDORES -->
				<li th:classappend="${currentPage == 'contenedores'} ? 'active'"
					th:class="dropdown" class="dropdown"><a
					class="dropdown-toggle" data-toggle="dropdown"
					th:text="#{contenedores}" th:href="@{#{menu.contenedores}}"> </a>
					<ul class="dropdown-menu">
						<li sec:authorize="hasRole('ROLE_ADMIN')"><a
							th:text="#{lbl_add}" th:href="@{#{link.contenedores.registro}}">
						</a></li>
						<li sec:authorize="!hasRole('ROLE_ADMIN')"><a
							th:text="#{mapa}" th:href="@{#{link.mapa.contenedores}}"> </a></li>
						<li sec:authorize="hasRole('ROLE_ADMIN')"><a
							th:text="#{lbl_list_contenedores}"
							th:href="@{#{link.contenedores}}"> </a></li>
						<li sec:authorize="hasRole('ROLE_ADMIN')"><a
							th:text="#{page_contenedores_modelos}"
							th:href="@{#{link.contenedores.modelos}}"> </a></li>
					</ul></li>

				<!-- rutas -->
				<li sec:authorize="isAuthenticated()"
					th:classappend="${currentPage == 'rutas'} ? 'active'"
					th:class="dropdown" class="dropdown"><a
					class="dropdown-toggle" data-toggle="dropdown" th:text="#{rutas}"
					th:href="@{#{menu.trabajadores}}"><span class="glyphicon"
						aria-hidden="true"></span>&nbsp; <label th:text="#{rutas}"></label>
				</a>
					<ul class="dropdown-menu">
						<li sec:authorize="hasRole('ROLE_ADMIN')"><a
							th:text="#{lbl_add}" th:href="@{#{link.rutas.registro}}"> </a></li>
						<li sec:authorize="hasRole('ROLE_ADMIN')"><a
							th:text="#{lbl_list_rutas}" th:href="@{#{link.rutas}}"> </a></li>
						<li sec:authorize="hasRole('ROLE_ADMIN')"><a
							th:text="#{lbl_historial_rutas}"
							th:href="@{#{link.rutas.rutasdiarias}}"> </a></li>
						<li sec:authorize="isAuthenticated()"><a
							th:text="#{lbl_historial_mis_rutas}"
							th:href="@{#{link.rutas.misrutas}}"> </a></li>
					</ul></li>

				<!-- estadísticas -->
				<li th:classappend="${currentPage == 'estadisticas'} ? 'active'"
					th:class="dropdown" class="dropdown"><a
					class="dropdown-toggle" data-toggle="dropdown"
					th:text="#{estadisticas}"
					th:href="@{#{menu.estadisticas_link_ref}}"> </a>
					<ul class="dropdown-menu">
						<li><a th:text="#{reciclado}"
							th:href="@{#{menu.estadisticas_reciclado_link_ref}}"> </a></li>
						<!-- <li><a th:text="#{pronostico}"
							th:href="@{#{menu.estadisticas_pronos_realid_link_ref}}"> </a></li>
							-->
					</ul></li>
			</ul>
			<ul id="menuUsuarioAutenticado" class="nav navbar-nav navbar-right"
				sec:authorize="isAuthenticated()">

				<li th:classappend="${currentPage == 'alertas'} ? 'active'"
					th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
					th:class="${classActiveSettings}"><a
					th:href="@{#{link.alertas}}"> <label th:text="#{alertas}">
					</label> <span id="numeroDeAlertas" class="badge badge-pill badge-warning">0</span>
				</a></li>

				<li th:classappend="${currentPage == 'cuenta'} ? 'active'"
					class="dropdown"><a id="user-menu" href="#"
					class="dropdown-toggle glyphicon glyphicon-user"
					data-toggle="dropdown" role="button" aria-haspopup="true"
					aria-expanded="false"> <span class="caret"> </span>
				</a>

					<ul id="cuenta" class="dropdown-menu">
						<li id="usuarioAutenticado" class="dropdown-header"
							th:usuario="${#authentication.getName()}"
							th:text="${#authentication.getName()}"></li>
						<!-- separador -->
						<li><a id="cambioPassword" th:href="@{#{link.cuenta.perfil}}">
								<i class="material-icons fa-lg" style="font-size: 14px">account_circle</i>
								&nbsp; <label th:text="#{lbl_perfil}"></label>
						</a></li>

						<li><a id="cambioIdioma"
							th:href="@{#{link.cuenta.idiomaPreferencia}}"> <i
								class="material-icons fa-lg" style="font-size: 14px"></i>&nbsp;
								<label th:text="#{lang.preferencia}"></label>
						</a></li>

						<li
							th:unless="${#authorization.expression('hasRole(''ROLE_CHANGE_PASSWORD'')')}"><a
							id="cambioPassword" th:href="@{#{link.cuenta.cambiar-password}}">
								<i class="fa" style="font-size: 14px">&#xf23e;</i> &nbsp; <label
								th:text="#{lbl_cambiarpassword}"></label>
						</a></li>

						<!-- separador -->
						<li><a id="logout" th:href="@{#{link.logout}}"> <span
								class="glyphicon glyphicon-log-out text-success"
								style="font-size: 18px" aria-hidden="true"> </span>&nbsp; <label
								class="text-success" th:text="#{logout}"></label>
						</a></li>
					</ul></li>
			</ul>

			<ul id="menuUsuarioNoAutenticado"
				th:if="${#authorization.expression('!isAuthenticated()')}"
				class="nav navbar-nav navbar-right">

				<li class="dropdown"><a class="dropdown-toggle"
					aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"
					href="#"> <i class="material-icons" style="font-size: 14px"></i>&nbsp;
						<label th:text="#{lang.change}"> </label> <span class="caret">
					</span>
				</a>
					<ul class="dropdown-menu" id="locales">
						<li
							th:each="tipo :${T(es.udc.citytrash.util.enums.Idioma).values()}">
							<a href="#" th:href="@{'?lang=' + ${tipo}}" th:value="${tipo}"
							th:text="#{${'lang.' + tipo}}"> </a>
						</li>
					</ul></li>

				<li th:classappend="${currentPage == 'login'} ? 'active'" id="login"><a
					th:href="@{#{link.signin}}"> <span
						class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;
						<label th:text="#{signin}"></label>
				</a></li>
			</ul>
		</div>
	</div>
</nav>

</html>
