<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}" th:with="currentPage='recursos'">
<head>
<title th:text="#{page_camiones_modelo_detalle_info}"></title>
</head>
<body class="blanco">
	<div id="container" class="container" th:fragment="content">
		<br>
		<!-- nombre and color -->
		<div class="row container center-block">
			<h3 th:if="${nombreDelContenedor!=null and nombreDelModelo!=null}"
				class="pull-left text-warning col-xs-10"
				th:text="${#strings.toUpperCase(nombreDelModelo)}"></h3>

			<div class="pull-left col-xs-2">
				<div th:if="${tipoDeBasura}">
					<div th:style="'background: #' + ${tipoDeBasura.color}"
						class="basura_color_circulo"></div>
				</div>
			</div>
		</div>

		<div th:if="${objecto}" th:object="${objecto}">
			<div class="panel-heading ">
				<div class="col-xs-12 text-right">
					<div class="btn-group text-center">
						<a th:href="@{#{link.contenedores.modelos.editar}(id=*{id})}"
							class="btn-sm"><i class="glyphicon glyphicon-pencil"></i></a><a
							th:href="@{#{link.contenedores.modelos.registro}}" class="btn-sm"><i
							class="glyphicon glyphicon-plus"></i> </a><a
							th:href="@{#{link.contenedores.modelos}}" class="btn-sm"> <i
							class="glyphicon glyphicon-list"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-hover table-responsive">
						<tbody>
							<tr>
								<td class="text-success"><label
									th:text="#{lbl_contenedor_modelo_nombre}"></label></td>
								<td th:if="*{modelo}">
									<p class="text-right col-xs-6" th:text="*{modelo}"></p>
								</td>
							</tr>
							<!-- capacidadNominal -->
							<tr>
								<td class="text-success"><label
									th:text="#{lbl_contenedor_modelo_capacidadNominal}"></label></td>

								<td class="row">
									<p th:if="*{capacidadNominal}" class="text-right col-xs-6"
										th:with="format=#{decimales_formato}"
										th:text="*{capacidadNominal} % 1 == 0 ? ${#numbers.formatDecimal(__*{capacidadNominal}__, 0, 0, format)} :${#numbers.formatDecimal(__*{capacidadNominal}__, 0, 2, format)}">
									</p>
									<p th:if="*{capacidadNominal}"
										class="text-left text-success col-xs-6">
										<var>L</var>
									</p>
								</td>
							</tr>
							<!-- carga Nominal -->
							<tr>
								<td class="text-success"><label
									th:text="#{lbl_contenedor_modelo_cargaNominal}"></label></td>

								<td class="row">
									<p th:if="*{cargaNominal}"
										th:with="format=#{decimales_formato}"
										class="text-right col-xs-6"
										th:text="*{cargaNominal} % 1 == 0 ? ${#numbers.formatDecimal(__*{cargaNominal}__, 0, 0, format)} :${#numbers.formatDecimal(__*{cargaNominal}__, 0, 2, format)}">
									</p>
									<p th:if="*{cargaNominal}"
										class="text-left text-success col-xs-6">
										<var>kg</var>
									</p>
								</td>
							</tr>

							<!-- Profundidad -->
							<tr>
								<td class="text-success"><label
									th:text="#{lbl_contenedor_modelo_profundidad}"></label></td>

								<td class="row">
									<p th:if="*{profundidad}" th:with="format=#{decimales_formato}"
										class="text-right col-xs-6"
										th:text="*{profundidad} % 1 == 0 ? ${#numbers.formatDecimal(__*{profundidad}__, 0, 0, format)} :${#numbers.formatDecimal(__*{profundidad}__, 0, 2, format)}">
									</p>
									<p th:if="*{profundidad}"
										class="text-left text-success col-xs-6">
										<var>mm</var>
									</p>
								</td>
							</tr>
							<!--  altura -->
							<tr>
								<td class="text-success"><label
									th:text="#{lbl_contenedor_modelo_altura}"></label></td>
								<td class="row">
									<p th:if="*{altura}" th:with="format=#{decimales_formato}"
										class="text-right col-xs-6"
										th:text="*{altura} % 1 == 0 ? ${#numbers.formatDecimal(__*{altura}__, 0, 0, format)} :${#numbers.formatDecimal(__*{altura}__, 0, 2, format)}">
									</p>
									<p th:if="*{altura}" class="text-left text-success col-xs-6">
										<var>mm</var>
									</p>
								</td>
							</tr>
							<!-- anchura -->
							<tr>
								<td class="text-success"><label
									th:text="#{lbl_contenedor_modelo_ancho}"></label></td>
								<td class="row">
									<p th:if="*{anchura}" th:with="format=#{decimales_formato}"
										class="text-right col-xs-6"
										th:text="*{anchura} % 1 == 0 ? ${#numbers.formatDecimal(__*{anchura}__, 0, 0, format)} :${#numbers.formatDecimal(__*{anchura}__, 0, 2, format)}">
									</p>
									<p th:if="*{anchura}" class="text-left text-success col-xs-6">
										<var>mm</var>
									</p>
								</td>
							</tr>
							<!-- peso vacio -->
							<tr>
								<td class="text-success"><label
									th:text="#{lbl_contenedor_modelo_pesoVacio}"></label></td>
								<td class="row">
									<p th:if="*{pesoVacio}" th:with="format=#{decimales_formato}"
										class="text-right col-xs-6"
										th:text="*{pesoVacio} % 1 == 0 ? ${#numbers.formatDecimal(__*{pesoVacio}__, 0, 0, format)} :${#numbers.formatDecimal(__*{pesoVacio}__, 0, 2, format)}">
									</p>
									<p th:if="*{pesoVacio}" class="text-left text-success col-xs-6">
										<var>kg</var>
									</p>
								</td>
							</tr>
							<!-- tipo de basura -->
							<tr>
								<td class="text-success"><label
									th:text="#{lbl_contenedor_modelo_tipo}"></label></td>
								<td class="row">
									<p th:if="${tipoDeBasura}" class="text-right col-xs-6"
										th:text="#{${tipoDeBasura.tipo}}"></p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
			<div class="panel-footer">
				<div class="pull-left">
					<a th:href="@{#{link.contenedores.modelos}}"> <i
						class="glyphicon glyphicon-list"></i> &nbsp; <label
						th:text="#{lbl_listado_contenedores_modelos}"></label>
					</a>
				</div>
				<br />
			</div>
		</div>
	</div>
</body>
</html>
