<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}" th:with="currentPage='cuenta'">
<head>
<title th:text="#{page_cambiar_idioma}"></title>
</head>

<body class="blanco">
	<div id="viewBody" class="container col-xs-12 col-md-offset-4 col-md-4"
		th:fragment="content">

		<th:block th:if="${success!=null}">
			<div
				th:replace="fragments/alert :: alert (type='success',  message=#{cambioIdioma_ok})"></div>
		</th:block>

		<th:block th:if="${error!=null}">
			<div
				th:replace="fragments/alert :: alert (type='danger',  message=#{cambioIdioma_error})"></div>
		</th:block>

		<h1 class="text-center" th:text="#{label_cambiar_idioma_header}"></h1>

		<form id="cambiarIdiomaForm" role="form"
			class="form-narrow form-horizontal" method="post" action="#"
			th:action="@{#{link.cuenta.idiomaPreferencia}}"
			th:object="${idiomaForm}" th:fragment="idiomaPreferencia">

			<fieldset>
				<div th:classappend="${#fields.hasErrors('idioma')}? 'has-error'">
					<select th:field="*{idioma}" class="form-control" id="idioma">
						<option
							th:each="lang : ${T(es.udc.citytrash.util.enums.Idioma).values()}"
							th:value="${lang}" th:text="#{${'lang.' + lang}}"></option>
					</select> <br> <span class="help-block"
						th:if="${#fields.hasErrors('idioma')}" th:errors="*{idioma}"></span>
				</div>
				<button id="cambiarIdioma" class="btn btn-default btn-lg btn-block"
					type="submit" th:text="#{btn_cambiar_idioma}"></button>
			</fieldset>
		</form>
	</div>
</body>
</html>