<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/blank}">
<head>
<title th:text="#{page_cambiar_password}"></title>
</head>
<body class="formularios container">
	<div id="viewBody" class="container" th:fragment="content">
		<div class="row">
			<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
				<div class="panel panel-default">
					<div class="panel-heading ">
						<h3 class="text-center"
							th:text="#{label_cambiar_contrasena_cuenta_header}"></h3>
					</div>
					<div class="panel-body">
						<div th:fragment="cambiarPasswordForm"
							th:replace="cuenta/cambiarPasswordForm :: cambiarPasswordForm()"></div>
					</div>
					<div class="panel-footer">
						<a href="login" th:href="@{#{menu.signin_link_ref}}"
							th:text="#{signin}">Login</a><br />
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

