
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/maps}" th:with="currentPage='rutas'">
<head>
<title th:text="#{page_mapa_contenedores}"></title>
</head>
<body class="fondoBlanco">
	<div id="viewBody" class="container" th:fragment="content">
		
	</div>
</body>
</html>
