<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}" th:with="currentPage='contenedores'">
<head>
<title th:text="#{page_registro}"></title>
</head>

<body class="formularios">
	<!-- id="viewBody" -->
	<div id="content" class="container" th:fragment="content"
		th:remove="tag">
		<div
			class="col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
			<div class="panel panel-default" th:if="${modeloRegistroForm}">

				<div class="panel-heading ">
					<h3 class="text-center text-success"
						th:text="${#strings.toUpperCase('__#{frm_registro_contenedores_modelos}__')}"></h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12 text-left">
							<div class="row">
								<a th:href="@{#{link.contenedores.modelos}}"> <i
									class="glyphicon glyphicon-list"></i> &nbsp; <label
									th:text="#{lbl_listado_contenedores_modelos}"></label>
								</a>
							</div>
						</div>
					</div>
					<div th:fragment="formularios"
						th:replace="contenedores/modelos/modelosRegistroForm :: modelosForm(${modeloRegistroForm}, ${error})"></div>
				</div>
			</div>
			<div class="panel-footer"></div>
		</div>
	</div>
</body>
</html>
