<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	layout:decorate="~{layouts/default}" th:with="currentPage='contenedores'">
<head>
<title th:text="#{page_camiones_historial_rutas}"></title>
</head>
<body class="blanco">
	<div id="content" class="container" th:fragment="content"
		th:if="${pageRutas}"></div>
	<!-- content -->
</body>

</html>
