<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/maps}" th:with="currentPage='recursos'">
<head>
<title th:text="#{page_contenedores_modelo_detalle_info}"></title>
</head>
<body class="blanco">
	<div id="container" class="container" th:fragment="content">
		<br>
		<div class="row container center-block">
			<h3 th:if="${nombreDelContenedor!=null}"
				class="text-center text-warning col-xs-10"
				th:text="${#strings.toUpperCase(nombreDelContenedor)}"></h3>

			<div class="col-xs-2">
				<div class="col-xs-1" th:if="${tipoDeBasura}">
					<div th:style="'background: #' + ${tipoDeBasura.color}"
						class="basura_color_circulo"></div>
				</div>
			</div>
		</div>

		<div th:if="${objecto}" th:object="${objecto}">
			<div class="panel-heading ">
				<div class="col-xs-12 text-right">
					<div class="btn-group text-center">
						<a th:href="@{#{link.contenedores.editar}(id=*{id})}"
							class="btn-sm"><i class="glyphicon glyphicon-pencil"></i></a><a
							th:href="@{#{link.contenedores.registro}}" class="btn-sm"><i
							class="glyphicon glyphicon-plus"></i> </a> <a
							th:href="@{#{link.contenedores}}" class="btn-sm"> <i
							class="glyphicon glyphicon-list"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="panel-body">

				<div class="table-responsive">
					<table class="table table-hover">
						<tbody>
							<!-- nombre -->
							<tr>
								<td class="text-success"><label
									th:text="#{lbl_contenedor_nombre}"></label></td>
								<td th:if="*{nombre}" th:text="*{nombre}"></td>
							</tr>

							<!-- fecha de alta -->
							<tr>
								<td class="text-success"><i
									class="glyphicon glyphicon-calendar"></i> <label
									class="mayusculas" th:text="#{lbl_fechaAlta}"></label></td>
								<td>
									<div class="input-group date  has-feedback col-sm-6"
										id="datetimePicker">
										<input class="form-control" id="fechaAlta"
											th:field="*{fechaAlta}" th:data-provide="datepicker"
											th:with="df=#{fecha_formato}" data-date-format=df
											th:data-date-autoclose="true"
											th:data-date-today-highlight="true"
											th:data-date-orientation="bottom" disabled="disabled">
										</
									</div>
								</td>
							</tr>

							<!-- fecha de baja -->
							<tr>
								<td class="text-success"><i
									class="glyphicon glyphicon-calendar"></i> <label
									class="mayusculas" th:text="#{lbl_fechaBaja}"></label></td>
								<td>
									<div class="input-group date  has-feedback col-sm-6"
										id="datetimePicker">
										<input type="text" class="form-control" id="fechaBaja"
											th:field="*{fechaBaja}" th:data-provide="datepicker"
											th:with="df=#{fecha_formato}" data-date-format=df
											th:data-date-autoclose="true"
											th:data-date-today-highlight="true"
											th:data-date-orientation="bottom" disabled="disabled" />
									</div>

								</td>
							</tr>

							<!-- latitud -->
							<tr>
								<td class="text-success"><label
									th:text="#{lbl_contenedor_latitud}"></label></td>

								<td id="lat" th:text="*{latitud}"></td>
							</tr>
							<!-- longitu -->
							<tr>
								<td class="text-success"><label
									th:text="#{lbl_contenedor_longitude}"></label></td>

								<td id="lng" data-geo="lng" th:text="*{longitud}"></td>
							<tr>
						</tbody>
					</table>
				</div>
				<!-- mapa -->
				<div class="col-xs-offset-1 col-xs-10 map_canvas" id="mapa"></div>
			</div>

			<div class="panel-footer">
				<div class="pull-left">
					<a th:href="@{#{link.camiones}}"> <i
						class="glyphicon glyphicon-list"></i> &nbsp; <label
						th:text="#{lbl_lista_de_camiones}"></label>
					</a>
				</div>
				<br />
			</div>
		</div>
	</div>
	<script>

	</script>
</body>
</html>
