
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}" th:with="currentPage='home'">
<head>
<title th:text="#{page_index}"></title>
</head>
<body class="index">
	<div id="viewBody" class="container" th:fragment="content">
		<div class="row">
			<div class="fondoBlanco">

				<span class="lang-sm lang-lbl" lang="en"></span> language.

				<th:block th:if="${cambioCredenciales!=null}">
					<div
						th:replace="fragments/alert :: alert (type='success',  message=#{credenciales_ok(${#authentication.getName()})})"></div>
				</th:block>

				<h3 class="text-center" th:text="#{welcome_header}"></h3>

				<p class="text-center" th:utext="#{description_text}"></p>
				<br />

				<h3 class="text-center" th:text="#{project_header}"></h3>

			</div>
		</div>
	</div>
</body>
</html>
