<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">
<head>
<title th:text="#{page_registro}"></title>
</head>

<body class="formularios">
	<div id="content" class="container" th:fragment="content"
		th:remove="tag">

		<div class="row panel panel-success" style="margin-top:2%;">
			<div class="panel-heading lead">
				<div class="row">
					<div class="col-lg-8 col-md-8">
						<i class="fa fa-users"></i> View Worker Details
					</div>
					<div class="col-lg-4 col-md-4 text-right">
						<div class="btn-group text-center">
							<!-- view details -->
							<a th:href="@{/auth/trabajadores/ver(id=${id})}" class="btn-sm"><i
								class="glyphicon glyphicon-eye-open"></i></a>
							<!-- edit -->
							<a th:href="@{/auth/trabajadores/editar(id=${id})}"
								class="btn-sm"><i class="glyphicon glyphicon-pencil"></i></a>
							<!--  print -->
							<a th:href="@{/auth/trabajadores/imprimir(id=${id})}"
								class="btn-sm"><i class="glyphicon glyphicon-print"></i></a>
							<!-- eliminar -->
							<a th:href="@{/auth/trabajadores/eliminar(id=${id})}"
								class="btn-sm"><i class="glyphicon glyphicon-minus"></i></a>

						</div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12 col-md-12"></div>
					<!-- tabs -->
					<div class="col-lg-9 col-md-9">
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#Summery"
								class="text-success"><i class="fa fa-indent"></i> Summery</a></li>
							<li><a data-toggle="tab" href="#Contact"
								class="text-success"><i class="fa fa-bookmark-o"></i>
									Contact Info</a></li>
							<li><a data-toggle="tab" href="#Address"
								class="text-success"><i class="fa fa-home"></i> Address</a></li>
							<li><a data-toggle="tab" href="#General"
								class="text-success"><i class="fa fa-info"></i> General Info</a></li>
						</ul>

						<!-- tabs content -->
						<div class="tab-content">
							<div id="Summery" class="tab-pane fade in active">
								<div class="table-responsive panel">
									<table class="table">
										<tbody>

											<tr>
												<td class="text-success"><i class="fa fa-user"></i>
													Full Name</td>
												<td>Viddhyut Mall</td>
											</tr>
											<tr>
												<td class="text-success"><i class="fa fa-list-ol"></i>
													Scholar Number</td>
												<td>45</td>
											</tr>
											<tr>
												<td class="text-success"><i class="fa fa-book"></i>
													Medium</td>
												<td>English</td>
											</tr>
											<tr>
												<td class="text-success"><i class="fa fa-group"></i>
													Class &amp; Section</td>
												<td>12-F</td>
											</tr>
											<tr>
												<td class="text-success"><i class="fa fa-calendar"></i>
													Birthday</td>
												<td>December 2, 2011</td>
											</tr>

											<tr>
												<td class="text-success"><i class="fa fa-university"></i>
													School</td>
												<td>Shyama Mall Girls Inter College</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div id="Address" class="tab-pane fade">
								<div class="table-responsive panel">
									<table class="table">
										<tbody>

											<tr>
												<td class="text-success"><i class="fa fa-home"></i>
													Address</td>
												<td>
													<address>
														<strong> C-***, Amahiya </strong><br> Kharobar,
														****** <br> Gorakhpur, Utter Pradesh, India<br>
													</address>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div id="Contact" class="tab-pane fade">
								<div class="table-responsive panel">
									<table class="table">
										<tbody>

											<tr>
												<td class="text-success"><i class="fa fa-envelope-o"></i>
													Email ID</td>
												<td><a
													href="mailto:****@pawanmall.net?subject=Email from &amp;body=Hello, Viddhyut Mall">****@pawanmall.net</a></td>
											</tr>
											<tr>
												<td class="text-success"><i
													class="glyphicon glyphicon-phone"></i> Mobile Number</td>
												<td>88********</td>
											</tr>
											<tr>
												<td class="text-success"><i class="fa fa-flag"></i>
													Nationality</td>
												<td>Indian</td>
											</tr>
											<tr>
												<td class="text-success"><i class="fa fa-user"></i>
													Father's Name</td>
												<td>Ajay Mall</td>
											</tr>
											<tr>
												<td class="text-success"><i
													class="glyphicon glyphicon-phone"></i> Father's Mobile</td>
												<td>+91 99********</td>
											</tr>
											<tr>
												<td class="text-success"><i class="fa fa-user"></i>
													Mother's Name</td>
												<td>Hemlata Mall</td>
											</tr>
											<tr>
												<td class="text-success"><i
													class="glyphicon glyphicon-phone"></i> Mother's Mobile</td>
												<td>+91 90********</td>
											</tr>
											<tr>
												<td class="text-success"><i class="fa fa-user"></i>
													Emergency Contact Person</td>
												<td>Pawan Mall</td>
											</tr>
											<tr>
												<td class="text-success"><i
													class="glyphicon glyphicon-phone"></i> Emergency Contact
													Person's Mobile</td>
												<td>+91 88********</td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
							<div id="General" class="tab-pane fade">
								<div class="table-responsive panel">
									<table class="table">
										<tbody>
											<tr>
												<td class="text-success"><i class="fa fa-university"></i>
													Last School</td>
												<td>Pawan Mall's School</td>
											</tr>
											<tr>
												<td class="text-success"><i class="fa fa-calendar"></i>
													Date of Admission</td>
												<td>March 4, 2009</td>
											</tr>
											<tr>
												<td class="text-success"><i class="fa fa-home"></i>
													Birth Place</td>
												<td>Delhi</td>
											</tr>
											<tr>
												<td class="text-success"><i class="fa fa-calendar"></i>
													Academic Year</td>
												<td>2015-2016</td>
											</tr>
											<tr>
												<td class="text-success"><i class="fa fa-medkit"></i>
													Medical Condition</td>
												<td>Normal</td>
											</tr>
											<tr>
												<td class="text-success"><i class="fa fa-thumbs-up"></i>
													Active/Inactive</td>
												<td>Student is Active</td>
											</tr>
											<tr>
												<td class="text-success"><i
													class="glyphicon glyphicon-time"></i> Last Editing</td>
												<td>2015-08-20 09:41:56</td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>

						</div>

					</div>

				</div>
			</div>
		</div>
		<!-- /.table-responsive -->

	</div>
	</div>


	</div>
</body>
</html>
