<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}" th:with="currentPage='recursos'">
<head>
<title th:text="#{page_registro}"></title>
</head>

<body class="formularios">
	<!-- id="viewBody" -->
	<div id="content" class="container" th:fragment="content"
		th:remove="tag">
		<div class="col-md-offset-3 col-md-6">
			<div class="panel panel-default">

				<div class="panel-heading ">
					<h3 class="text-center" th:text="#{frm_registro_header}"></h3>
				</div>

				<div class="panel-body">

					<div class="row">
						<a th:href="@{#{link.trabajadores}}"> <i
							class="glyphicon glyphicon-list"></i> &nbsp; <label
							th:text="#{lbl_listado_trabajadores}"></label>
						</a>
						<!-- 		
						<a class="btn" href="javascript:window.history.back();"
							role="button"> <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;
							<label th:text="#{btn_atras}"></label></a>
					 -->
					</div>
					<div th:fragment="registroForm"
						th:replace="trabajador/registroForm :: registroForm(${registro}, ${error})"></div>
				</div>
			</div>
			<div class="panel-footer"></div>
		</div>
	</div>
</body>
</html>
