<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	layout:decorate="~{layouts/default}" th:with="currentPage='recursos'">
<head>
<title th:text="#{page_registro}"></title>
</head>

<body class="blanco">
	<div id="viewBody" class="container" th:fragment="content">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h1 class="text-center" th:text="#{frm_trabajadores_header}"></h1>
				<div th:fragment="register-success">
					<th:block th:if="${success!=null}">
						<div
							th:replace="fragments/alert :: alert (type='success', message=#{frm_registro_ok(${userAdd.nombre})})">Alert</div>
						<p></p>
					</th:block>
				</div>

				<div class="pull-left row">
					<a id="registro" data-toggle="modal" href="#registroDialog"><span
						class="glyphicon glyphicon-plus"></span><label
						th:text="#{frm_trabajadores_registro}"></label></a>
				</div>

				<br />
				<hr>
				<!-- trabajadores list -->
				<th:block id="lista" th:if="${trabajadores}"
					th:fragment="listaTrabajadores">
				Show <span sd:page-size-selector="default"></span> entries
					<div class="btn-group dropup" sd:page-size-selector="dropdown"></div>

					<!-- tabla -->
					<table class="table table-bordered table-striped table-hover">
						<tr>
							<th><a class="sorted" sd:pagination-sort="id"
								th:text="#{frm_trabajadores_id}"> </a></th>
							<th><a class="sorted" sd:pagination-sort="nombre"
								th:text="#{frm_trabajadores_nombre}"> Name</a></th>
							<th><a class="sorted" sd:pagination-sort="apellidos"
								th:text="#{frm_trabajadores_apellidos}">Apellidos</a></th>
							<th><a class="sorted" sd:pagination-sort="rol"
								th:text="#{frm_trabajadores_rol}">Rol</a></th>
							<th><a class="sorted" sd:pagination-sort="tipo"
								th:text="#{lbl_trabajador_tipo}">Tipo Trabajador</a></th>
							<th>&nbsp;</th>
						</tr>
						<tr th:each="trabajador : ${trabajadores.content}">
							<td class="align-middle"><span
								class="articleTitle truncated" data-toggle="tooltip"
								data-placement="bottom" th:title="${trabajador.id}"
								th:text="${trabajador.id}"> </span></td>

							<td class="align-middle"
								th:text="${#strings.capitalizeWords(#strings.toLowerCase(trabajador.nombre))}">
								nombre</td>

							<td class="align-middle"
								th:text="${#strings.capitalizeWords(#strings.toLowerCase(trabajador.apellidos))}">
								apellidos</td>

							<td class="align-middle"
								th:text="${#strings.toUpperCase(
                  #strings.replace(trabajador.rol, '_', ' '))}">
								rol</td>
							<!-- 	
							<td class="align-middle"
								th:text="${#strings.toUpperCase(
                  #strings.replace(trabajador.trabajadorType, '_', ' '))}">
								tipo</td>  -->

							<td class="align-middle"
								th:text="#{${'trabajador.tipo.' + trabajador.trabajadorType}}">tipo</td>
							<td>
								<div class="btn-group text-center">
									<!-- view details -->
									<a
										th:href="@{#{link.trabajadores.detalle}(id=${trabajador.id})}"
										class="btn-sm"><i class="glyphicon glyphicon-eye-open"></i></a>
									<!-- edit -->
									<a th:href="@{/auth/trabajadores/editar(id=${trabajador.id})}"
										class="btn-sm"><i class="glyphicon glyphicon-pencil"></i></a>

									<!-- eliminar -->
									<a
										th:href="@{/auth/trabajadores/eliminar(id=${trabajador.id})}"
										class="btn-sm"><i class="glyphicon glyphicon-minus"></i></a>

								</div>
							</td>
						</tr>
					</table>

					<!-- fin table -->

					<!-- paginacion -->

					<div class="col-sm-6">
						<div sd:pagination-summary="compact">info</div>
					</div>
					<div class="col-sm-6">
						<nav class="pull-right">
							<ul class="pagination" sd:pagination="full">
								<!-- Pagination created by SpringDataDialect, this content is just for mockup -->
								<li class="disabled"><a href="#" aria-label="Previous"><span
										aria-hidden="true">&laquo;</span></a></li>
								<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
							</ul>
						</nav>
					</div>
				</th:block>
				<!-- fin paginacion -->
				<p th:unless="${trabajadores}">No worker have been created yet.</p>
				<!-- fin trabajadores list -->
			</div>

			<!-- Registro Modal -->
			<div id="registroDialog" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<div class="pull-right">
								<button type="button" class="close-modal" data-dismiss="modal">×</button>
							</div>
							<h4 class="text-center">
								<span class="glyphicon glyphicon-user"></span> <label
									th:text="#{frm_registro_header}"></label>
							</h4>
						</div>
						<div class="modal-body" id="registroDialogBody">
							<div
								th:replace="trabajador/registroForm :: registroForm(${registro})">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button"
								class="btn btn-danger btn-default pull-left"
								data-dismiss="modal">
								<span class="glyphicon glyphicon-remove"></span> Cancel
							</button>
						</div>
					</div>
				</div>
				<!--  fin de registro-modal -->
			</div>
		</div>
		<!-- row -->
	</div>
	<!-- content -->
</body>
</html>




