<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	layout:decorate="~{layouts/default}"
	th:with="currentPage='trabajadores'">
<head>
<title th:text="#{page_trabajadores}"></title>
</head>

<body class="blanco">
	<div id="content" class="container" th:fragment="content">
		<!-- pagination size and add button -->
		<div class="form-group row">
			<div class="col-xs-6">
				<div class="pull-left">
					<a class="btn btn-default"
						th:href="@{#{link.trabajadores.registro}}" role="button"><i
						class="glyphicon glyphicon-plus" data-toggle="tooltip"
						th:title="#{frm_trabajadores_registro}"></i></a>
				</div>
				<!-- 
				<div class="pull-left">	
					<button id="registrarBtn" type="button" class="btn btn-default"
						data-toggle="modal" data-target="#registroDialog">
						<i class="glyphicon glyphicon-plus" data-toggle="tooltip"
							th:title="#{frm_trabajadores_registro}"></i>
					</button>
				</div>
			 -->
			</div>
			<div class="col-xs-6">
				<div class="pull-right">
					<!-- page size selector (dropdown) -->
					<div id="size_page_selector" class="dbtn-group dropup"
						sd:page-size-selector="dropdown" th:title="#{page_size}"></div>
					<!-- //page size selector -->
				</div>
			</div>
		</div>
		<!-- FIN pagination size and add button -->

		<h2 class="text-success text-center" th:text="#{page_trabajadores}"></h2>

		<div class="row">
			<!-- search form -->
			<div id="searchForm" class="col-xs-12 col-sm-12">
				<form id="busquedaTrabajadoresForm" role="form"
					class="form-narrow form-horizontal" method="get" action="#"
					th:action="@{#{link.trabajadores}}"
					th:object="${busquedaTrabajadoresForm}"
					th:fragment="busquedaTrabajadoresForm">
					<fieldset>
						<div class="form-group row">
							<!-- tipo de trabajador -->
							<div class="col-xs-12 col-sm-2">
								<select th:field="*{tipo}" class="form-control mySelect"
									data-style="btn-default" id="tipoTrabajador">
									<option
										th:each="tipoTrabajador : ${T(es.udc.citytrash.util.enums.TipoTrabajador).values()}"
										th:value="${tipoTrabajador}"
										th:text="#{${'trabajador.tipo.withNone.' + tipoTrabajador}}"></option>
								</select>
							</div>

							<!-- tipo de field -->
							<div class="col-xs-12 col-sm-2">
								<select th:field="*{campo}" class="form-control mySelect"
									data-style="btn-default" id="tipoTrabajador">
									<option
										th:each="campo : ${T(es.udc.citytrash.util.enums.CampoBusqTrabajador).values()}"
										th:value="${campo}" th:text="#{${'lbl_' + campo}}"></option>
								</select>
							</div>


							<div class="col-xs-3 col-sm-1">
								<div class="form-check">
									<label> <input id="mostrar_trabajadores_de_baja"
										type="checkbox" th:field="*{mostrarTodosLosTrabajadores}"
										th:value="${mostrarTodosLosTrabajadores}" name="check">
										<span class="label-text" th:text="#{lbl_mostrar_todos}"></span>
									</label>
								</div>
							</div>

							<div class="col-xs-9 col-sm-7">
								<div class=" input-group">
									<input type="text" class="form-control"
										th:placeholder="#{lbl_pholder_search}" th:field="*{buscar}">
									<span class="input-group-btn">
										<button class="btn btn-success" type="submit"
											th:text="#{btn_buscar}" th:value="#{btn_buscar_trabajador}">Go!</button>
									</span>
								</div>
							</div>
						</div>
					</fieldset>
				</form>
			</div>

			<div id="listaTrabajadoresContent"
				th:fragment="listaTrabajadoresContent" class="col-xs-12">

				<!-- trabajadores list -->
				<div id="resultMsgDiv">
					<!-- mensaje ok -->
					<th:block th:if="${msg!=null}">
						<div th:if="${type!=null}"
							th:replace="fragments/alert :: alert (type='success',  message=#{${type}(${key})})"></div>
					</th:block>
				</div>

				<!-- tabla -->
				<div class="table-responsive">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th><a class="sorted" sd:pagination-sort="id"
									th:text="${#strings.capitalize('__#{frm_trabajadores_id}__')}">
										<!-- th:text="#{frm_trabajadores_id}"  -->
								</a></th>

								<th th:text="#{lbl_documento}"></th>

								<th><a class="sorted" sd:pagination-sort="nombre"
									th:text="${#strings.toUpperCase('__#{frm_trabajadores_nombre}__')}">
										Name</a></th>

								<th><a class="sorted" sd:pagination-sort="apellidos"
									th:text="${#strings.toUpperCase('__#{frm_trabajadores_apellidos}__')}">Apellidos</a></th>

								<th><a class="sorted" sd:pagination-sort="email"
									th:text="${#strings.toUpperCase('__#{lbl_email}__')}">email</a></th>

								<th><a class="sorted" sd:pagination-sort="trabajadorType"
									th:text="${#strings.toUpperCase('__#{lbl_tipo}__')}">Tipo
										Trabajador</a></th>

								<th
									th:text="${#strings.toUpperCase('__#{lbl_trabajador_cuenta}__')}">cuenta</th>


								<th th:text="${#strings.toUpperCase('__#{lbl_acciones}__')}">Acciones</th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="trabajador : ${listaTrabajadores.content}">
								<td class="align-middle"><span
									class="articleTitle truncated" data-toggle="tooltip"
									data-placement="bottom" th:title="${trabajador.id}"
									th:text="${trabajador.id}"> </span></td>

								<td class="align-middle"
									th:text="${#strings.toUpperCase(trabajador.documento)}">
									documento</td>


								<td class="align-middle"
									th:text="${#strings.capitalizeWords(#strings.toLowerCase(trabajador.nombre))}">
									nombre</td>


								<td class="align-middle"
									th:text="${#strings.capitalizeWords(#strings.toLowerCase(trabajador.apellidos))}">
									apellidos</td>

								<td class="align-middle"
									th:text="${#strings.toLowerCase(trabajador.email)}">email</td>

								<td class="align-middle"
									th:text="#{${'trabajador.tipo.' + trabajador.tipo}}">tipo</td>

								<td>
									<div id="cuenta" class="btn-group text-center">
										<a id="link_cuenta_trabajador" th:href="@{#}" class="btn-sm"><i
											th:if="${trabajador.cuentaActiva == true}"
											class="fa fa-toggle-on"></i> <i
											th:unless="${trabajador.cuentaActiva == true}"
											class="fa fa-toggle-off"></i></a>
									</div>
								</td>
								<td>
									<div class="btn-group text-center" id="options">
										<!-- view details -->
										<div id="otherOptions" class="btn-group text-center">
											<a id="link_ver_detalles"
												th:href="@{#{link.trabajadores.detalles}(id=${trabajador.id})}"
												class="btn-sm"><i class="glyphicon glyphicon-eye-open"
												data-toggle="tooltip" th:title="#{lbl_ver_detalles}"></i></a>
											<!-- edit -->
											<a id="link_editar"
												th:href="@{#{link.trabajadores.editar}(id=${trabajador.id})}"
												class="btn-sm"><i class="glyphicon glyphicon-pencil"
												data-toggle="tooltip" th:title="#{lbl_editar}"></i></a>

										</div>
										<div id="changeState" class="btn-group text-center">
											<a id="link_change_state"
												th:href="@{#{link.trabajadores.estado}(id=${trabajador.id})}"
												class="btn-sm"> <i id="iconState"
												th:class="${trabajador.trabajadorActivo == true}? 'fa fa-toggle-on' : 'fa fa-toggle-off'"
												data-toggle="tooltip" th:title="#{lbl_estado}"> </i>
											</a>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- fin table -->
				<!-- paginacion -->
				<div id="pagionationInformation" class="col-xs-12">
					<div class="col-xs-12">
						<div class="text-left">
							<div sd:pagination-summary="info">info</div>
						</div>
					</div>
					<div class="col-xs-12">
						<nav class="text-right">
							<ul class="pagination" sd:pagination="full">
								<li class="btn disabled"><a href="#" aria-label="Previous"><span
										aria-hidden="true">&laquo;</span></a></li>
								<li class="btn active"><a href="#">1 <span
										class="sr-only">(current)</span></a></li>
							</ul>
						</nav>
					</div>
				</div>

				<!-- fin paginacion -->
				<p th:unless="${listaTrabajadores!=null}">No worker have been
					created yet.</p>
				<!-- fin trabajadores list -->
			</div>


			<!-- Registro Modal -->
			<div id="registroDialog" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<div class="pull-right">
								<button type="button" class="close-modal" data-dismiss="modal">×</button>
							</div>
							<h4 class="text-center">
								<span class="glyphicon glyphicon-user"></span> <label
									th:text="#{frm_registro_header}"></label>
							</h4>
						</div>
						<div class="modal-body" id="registroDialogBody">
							<div
								th:replace="trabajador/registroForm :: registroForm(${registro}, ${error})">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button"
								class="btn btn-danger btn-default pull-left"
								data-dismiss="modal">
								<span class="glyphicon glyphicon-remove"></span> Cancel
							</button>
						</div>
					</div>
				</div>
				<!--  fin de registro-modal -->
				<div class="modal fade" id="myModal" role="dialog">
					<div class="modal-dialog modal-sm">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Error</h4>
							</div>
							<div class="modal-body">
								<p></p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Inicia del dialog -->


				<!-- fin del dialogo -->
			</div>
		</div>
		<!-- row -->
	</div>
	<!-- content -->
</body>
</html>




