<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	th:with="currentPage='trabajadores'">

<body>
	<div th:fragment="update(updateForm)">
		<br>
		<form id="actualizarTrabajador" role="form"
			class="form-narrow form-horizontal" method="post" action="#"
			th:action="@{#{link.trabajadores.editar}(id=${id})}"
			th:object="${updateForm}" th:fragment="updateForm">

			<!-- mensaje ok -->
			<th:block th:if="${msg!=null}">
				<div th:if="${type!=null}"
					th:replace="fragments/alert :: alert (type='success',  message=#{${type}(${key})})"></div>
			</th:block>
			
			<!-- mensaje error -->
			<th:block th:if="${error!=null and msg==null}">
				<div th:if="${type!=null}"
					th:replace="fragments/alert :: alert (type='danger',  message=#{${type}(${key})})"></div>
			</th:block>

			<fieldset>
				<th:block th:if="${#fields.hasErrors('${updateForm.*}')}">
					<div
						th:replace="fragments/alert :: alert (type='danger', message=#{verificar_campos_alerta})">Alert</div>

					<ul class="list-group">
						<li class="list-group-item" th:each="err : ${#fields.errors('*')}"><span
							class="glyphicon glyphicon-remove"> </span> <a href="#"
							th:text="${err}"></a></li>
					</ul>
					<br />
				</th:block>
				<br />
				<legend class="col-xs-12" th:text="#{frm_registro_subHeader1}"></legend>

				<!-- id -->
				<div class="form-group">
					<div class="col-sm-10">
						<input type="hidden" class="form-control" th:field="*{id}" />
					</div>
				</div>

				<div id="documento-group" class="form-group row">
					<div
						th:classappend="${#fields.hasErrors('documento')}? 'has-error'">
						<label for="documento" class="col-sm-3 col-form-label"
							th:text="#{lbl_documento} + '*' "></label>

						<div class="col-sm-9">
							<input type="text" pattern="[0-9X-Z][0-9]{7}[A-Z]"
								class="mayusculas col-sm-6 form-control" id="documento"
								th:placeholder="#{frm_registro_pholder_documento}"
								th:field="*{documento}" required="required" /> <span
								class="help-block" th:if="${#fields.hasErrors('documento')}"
								th:errors="*{documento}"></span>
						</div>
					</div>
				</div>

				<!-- http://bootstrap-datepicker.readthedocs.io/en/latest/options.html -->
				<div class="form-group row">
					<div
						th:classappend="${#fields.hasErrors('fechaNacimiento')} ? 'has-error'">
						<label for="fechaNacimiento" class="col-sm-3 col-form-label"
							th:text="#{lbl_fechaNacimiento}+ '*'"></label>

						<div class="col-sm-9">
							<div class="input-group date  has-feedback col-sm-6"
								id="datetimePicker">
								<input th:placeholder="#{fecha_formato}" type="text"
									class="form-control" id="fechaNacimiento"
									th:field="*{fechaNacimiento}" th:data-provide="datepicker"
									data-date-format="dd/mm/yyyy" th:data-date-autoclose="true"
									th:data-date-today-highlight="true"
									th:data-date-orientation="bottom" required="required" /> <span
									class="glyphicon glyphicon-calendar form-control-feedback"></span>
							</div>
							<span class="help-block"
								th:if="${#fields.hasErrors('fechaNacimiento')}"
								th:errors="*{fechaNacimiento}" th:text="#{*{fechaNacimiento}}">
								<br>
							</span>
						</div>
					</div>
				</div>
				<br>
				<th:block>
					<div id="nombre-group" class="form-group row"
						th:classappend="${#fields.hasErrors('nombre')}? 'has-error'">
						<label for="nombre" class="col-sm-3 col-form-label"
							th:text="#{lbl_nombre} + '*'"></label>

						<div class="col-sm-9">
							<input type="text" class="mayusculas col-sm-6 form-control"
								id="nombre" th:placeholder="#{frm_registro_pholder_nombre}"
								th:field="*{nombre}" required="required" /> <span
								class="help-block" th:if="${#fields.hasErrors('nombre')}"
								th:errors="*{nombre}"></span>
						</div>
					</div>
					<div class="form-group row"
						th:classappend="${#fields.hasErrors('apellidos')}? 'has-error'">
						<label for="apellidos" class="col-sm-3 col-form-label"
							th:text="#{lbl_apellidos} + '*'"></label>
						<div class="col-sm-9">
							<input type="text" class="mayusculas col-sm-6 form-control"
								id="apellidos"
								th:placeholder="#{frm_registro_pholder_apellidos}"
								th:field="*{apellidos}" required="required" /> <span
								class="help-block" th:if="${#fields.hasErrors('apellidos')}"
								th:errors="*{apellidos}"></span>
						</div>
					</div>

					<div id="email-group" class="form-group row">
						<div th:classappend="${#fields.hasErrors('email')}? 'has-error'">
							<label for="email" class="col-sm-3 col-form-label"
								th:text="#{lbl_email}+ '*'"></label>
							<div class="col-sm-9">
								<div class="has-feedback">
									<input type="email" class="minusculas col-sm-6 form-control"
										id="email" th:placeholder="#{frm_registro_pholder_email}"
										th:field="*{email}" required="required" /> <span
										class="glyphicon glyphicon-envelope form-control-feedback">
									</span>
								</div>
								<span class="help-block" th:if="${#fields.hasErrors('email')}"
									th:errors="*{email}"></span>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<div
							th:classappend="${#fields.hasErrors('confirmarEmail')}? 'has-error'">
							<label for="confirmarEmail" class="col-sm-3 col-form-label"
								th:text="#{lbl_confirmarEmail}+ '*'"></label>
							<div class="col-sm-9">
								<div class="has-feedback">
									<input type="email" class="minusculas col-sm-6 form-control"
										id="confirmarEmail"
										th:placeholder="#{frm_registro_pholder_confirmarEmail}"
										th:field="*{confirmarEmail}" required="required"
										data-fv-identical="true" data-fv-identical-field="email"
										data-fv-identical-message="#{fieldMatch_email_alerta}" /> <span
										class="glyphicon glyphicon-envelope form-control-feedback">
									</span>
								</div>

								<span class="help-block"
									th:if="${#fields.hasErrors('confirmarEmail')}"
									th:errors="*{confirmarEmail}"></span>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label for="tipoTrabajador" class="col-sm-3 col-form-label"
							th:text="#{lbl_trabajador_tipo}+ '*'"></label>
						<div class="col-sm-9">
							<select th:field="*{tipo}" class="form-control mySelect"
								data-style="btn-default" id="tipoTrabajador">
								<option
									th:each="tipoTrabajador : ${T(es.udc.citytrash.util.enums.TipoTrabajador).values()}"
									th:value="${tipoTrabajador}"
									th:text="#{${'trabajador.tipo.' + tipoTrabajador}}"></option>
							</select>
						</div>
					</div>

					<div class="form-group row"
						th:classappend="${#fields.hasErrors('idioma')}? 'has-error'">
						<label for="idioma" class="col-sm-3 col-form-label"
							th:text="#{lbl_trabajador_idioma}+ '*'"></label>
						<div class="col-sm-9">
							<select th:field="*{idioma}" class="form-control mySelect"
								id="idioma">
								<option
									th:each="lang : ${T(es.udc.citytrash.util.enums.Idioma).values()}"
									th:value="${lang}" th:text="#{${'lang.' + lang}}"></option>
							</select> <span class="help-block" th:if="${#fields.hasErrors('idioma')}"
								th:errors="*{idioma}"></span>
						</div>
					</div>
					<br>

					<legend class="col-xs-12" th:text="#{frm_registro_subHeader2}"></legend>

					<div class="form-group row">
						<div th:classappend="${#fields.hasErrors('via')}? 'has-error'">
							<label for="via" class="col-sm-3 col-form-label"
								th:text="#{lbl_via}"></label>
							<div class="col-sm-9">
								<input type="text" class="mayusculas col-sm-6 form-control"
									id="via" th:placeholder="#{frm_registro_pholder_via}"
									th:field="*{via}" /> <span class="help-block"
									th:text="#{frm_registro_via_alerta}"
									th:if="${#fields.hasErrors('via')}" th:errors="*{via}"></span>
							</div>
						</div>
					</div>

					<div class="form-group row">
						<div th:classappend="${#fields.hasErrors('numero')}? 'has-error'">
							<label for="numero" class="col-sm-3 col-form-label"
								th:text="#{lbl_dir_numero}"></label>
							<div class="col-sm-9">
								<input type="number" class="mayusculas col-sm-6 form-control"
									id="numero" th:placeholder="#{frm_registro_pholder_dir_numero}"
									th:field="*{numero}" /> <span class="help-block"
									th:text="#{frm_registro_numero_alerta}"
									th:if="${#fields.hasErrors('numero')}" th:errors="*{numero}"></span>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<div th:classappend="${#fields.hasErrors('piso')}? 'has-error'">
							<label for="piso" class="col-sm-3 col-form-label"
								th:text="#{lbl_dir_piso}"></label>
							<div class="col-sm-9">
								<input type="number" class="mayusculas col-sm-6 form-control"
									id="piso" th:placeholder="#{frm_registro_pholder_dir_piso}"
									th:field="*{piso}" /> <span class="help-block"
									th:text="#{frm_registro_piso_alerta}"
									th:if="${#fields.hasErrors('piso')}" th:errors="*{piso}"></span>
							</div>
						</div>
					</div>

					<div class="form-group row">
						<div th:classappend="${#fields.hasErrors('puerta')}? 'has-error'">
							<label for="puerta" class="col-sm-3 col-form-label"
								th:text="#{lbl_puerta}"></label>
							<div class="col-sm-9">
								<input type="text" class="mayusculas col-sm-6 form-control"
									id="puerta" th:placeholder="#{frm_registro_pholder_puerta}"
									th:field="*{puerta}" /> <span class="help-block"
									th:text="#{frm_registro_puerta_alerta}"
									th:if="${#fields.hasErrors('puerta')}" th:errors="*{puerta}"></span>
							</div>
						</div>
					</div>

					<div class="form-group row">
						<div
							th:classappend="${#fields.hasErrors('restoDireccion')}? 'has-error'">
							<label for="puerta" class="col-sm-3 col-form-label"
								th:text="#{lbl_restoDireccion}"></label>
							<div class="col-sm-9">
								<input type="text" class="mayusculas col-sm-6 form-control"
									id="restoDireccion"
									th:placeholder="#{frm_registro_pholder_restoDireccion}"
									th:field="*{restoDireccion}" /> <span class="help-block"
									th:text="#{frm_registro_restoDireccion_alerta}"
									th:if="${#fields.hasErrors('restoDireccion')}"
									th:errors="*{restoDireccion}"></span>
							</div>
						</div>
					</div>


					<div class="form-group row">
						<div th:classappend="${#fields.hasErrors('cp')}? 'has-error'">
							<label for="cp" class="col-sm-3 col-form-label"
								th:text="#{lbl_cp}"></label>

							<div class="col-sm-9">
								<input type="number" maxlength="5"
									pattern="^(0[1-9][0-9]{3}|[1-4][0-9]{4}|5[0-2][0-9]{3})?"
									class="mayusculas col-sm-6 form-control" id="cp"
									th:placeholder="#{frm_registro_pholder_cp}" th:field="*{cp}" />
								<span class="help-block" th:if="${#fields.hasErrors('cp')}"
									th:errors="*{cp}"></span>
							</div>
						</div>
					</div>

					<div class="form-group row">
						<div
							th:classappend="${#fields.hasErrors('localidad')}? 'has-error'">
							<label for="localidad" class="col-sm-3 col-form-label"
								th:text="#{lbl_localidad}"></label>
							<div class="col-sm-9">
								<input type="text" class="mayusculas col-sm-6 form-control"
									id="localidad"
									th:placeholder="#{frm_registro_pholder_localidad}"
									th:field="*{localidad}" /> <span class="help-block"
									th:text="#{frm_registro_localidad_alerta}"
									th:if="${#fields.hasErrors('localidad')}"
									th:errors="*{localidad}"></span>
							</div>
						</div>
					</div>

					<div class="form-group row">
						<div
							th:classappend="${#fields.hasErrors('provincia')}? 'has-error'">
							<label for="provincia" class="col-sm-3 col-form-label"
								th:text="#{lbl_provincia}"></label>
							<div class="col-sm-9">
								<input type="text" class="mayusculas col-sm-6 form-control"
									id="provincia"
									th:placeholder="#{frm_registro_pholder_provincia}"
									th:field="*{provincia}" /> <span class="help-block"
									th:text="#{frm_registro_provincia_alerta}"
									th:if="${#fields.hasErrors('provincia')}"
									th:errors="*{provincia}"></span>
							</div>
						</div>
					</div>

					<legend class="col-xs-12" th:text="#{frm_trabajadores_telefonos}"></legend>

					<!-- si quito esto no funciona la lista de telefonos :( -->
					<label th:text="${listaTelefonos}"> </label>

					<div class="table-responsive">
						<table th:fragment="telefonosList" id="telefonosList"
							class="table table-striped"
							th:classappend="${#fields.hasErrors('telefonos')}? 'has-error'">
							<tr>
								<th class="col-xs-1 col-sm-1">#</th>
								<th th:text="#{lbl_telefono_tipo}"></th>
								<th th:text="#{lbl_telefono_numero}"></th>
								<th></th>
								<th></th>
							</tr>

							<tr th:if="${listaTelefonos.size()> 0}"
								th:each="telefono, rowStat : ${listaTelefonos}">
								<!-- INDEX -->
								<td class="col-xs-1" th:text="${rowStat.index+1}"></td>
								<!-- TIPO -->
								<td
									th:classappend="${#fields.hasErrors('telefonos[__${rowStat.index}__].tipo')}? 'has-error'"><select
									th:field="*{telefonos[__${rowStat.index}__].tipo}"
									class="form-control mySelect" data-style="btn-default"
									id="tipoTelefono">
										<option
											th:each="tipoTelefono : ${T(es.udc.citytrash.util.enums.TipoTelefono).values()}"
											th:value="${tipoTelefono}" th:text="#{${tipoTelefono}}"></option>
								</select> <span class="help-block"
									th:if="${#fields.hasErrors('telefonos[__${rowStat.index}__].tipo')}"
									th:errors="*{telefonos[__${rowStat.index}__].tipo}"> </span></td>

								<!-- NUMERO DE TELEFONO -->
								<td
									th:classappend="${#fields.hasErrors('telefonos[__${rowStat.index}__].numero')}? 'has-error'"><input
									type="tel" pattern="^([9|6|7][0-9]{8})?"
									th:title="#{constraints.pattern.telefono}"
									class="form-control input-button-right"
									th:field="*{telefonos[__${rowStat.index}__].numero}" /> <span
									class="help-block"
									th:if="${#fields.hasErrors('telefonos[__${rowStat.index}__].numero')}"
									th:errors="*{telefonos[__${rowStat.index}__].numero}"> </span></td>
								<td>
								<td>
									<div class="btn-group text-center" id="options">
										<div id="otherOptions" class="btn-group text-center">
											<!-- <span class="col-sm-1 row-delete-button"> -->
											<button type="submit" class="btn btn-default btn-danger"
												th:value="${telefono.numero}" name="eliminarTelefono">
												<i class="glyphicon glyphicon-trash icon-white"></i>
											</button>
										</div>
									</div>
								</td>
							</tr>
						</table>
					</div>
			</fieldset>
			<br>
			<div>
				<!-- <div th:if="*{telefonos.size()} < 5" class="col-lg-12"> -->
				<button class="btn btn-default btn-md pull-right" type="submit"
					th:text="#{btn_add_telefono}" name="addTelefono"></button>
				<!-- </div> -->
			</div>
			<br> <br> <br>
			<div class="col-lg-12 row-centered">
				<button class="btn btn-default btn-success  btn-block" type="submit"
					th:text="#{btn_update}" name="modificar"></button>
			</div>
		</form>
	</div>
</body>
</html>
