<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	layout:decorate="~{layouts/default}" th:with="currentPage='alertas'">
<head>
<title th:text="#{page_alertas}"></title>
</head>
<body class="blanco">
	<div id="content" class="container" th:fragment="content"
		th:if="${pageAlertas}">
		<!-- pagination size and add button -->
		<div class="form-group row">
			<div class="col-xs-6"></div>
			<div class="col-xs-6">
				<div class="pull-right">
					<!-- page size selector (dropdrwown) -->
					<div id="size_page_selector" class="dbtn-group dropup"
						sd:page-size-selector="dropdown" th:title="#{page_size}"></div>
					<!-- //page size selector -->
				</div>
			</div>
		</div>
		<!-- titulo -->
		<div class="row container center-block">
			<h3 class="text-center text-success col-xs-12"
				th:text="${#strings.toUpperCase('__#{lbl_alertas}__')}"></h3>
		</div>
		<!-- FIN pagination size and add button -->
		<div class="row">
			<div id="listaContent" th:fragment="listaContent" class="col-xs-12">
				<!-- list -->
				<div id="resultMsgDiv">
					<th:block th:if="${msg!=null}">
						<div th:if="${type!=null}"
							th:replace="fragments/alert :: alert (type='success',  message=#{${type}(${key})})"></div>
					</th:block>
				</div>
				<!-- tabla -->
				<div class="table-responsive">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th><a class="sorted" sd:pagination-sort="fechaHora"
									th:text="${#strings.capitalize('__#{lbl_fecha}__')}"> </a></th>

								<th><a class="sorted" sd:pagination-sort="prioridad"
									th:text="${#strings.capitalize('__#{lbl_prioridad}__')}"> </a></th>


								<th><a class="sorted" sd:pagination-sort="tipoDeAlerta"
									th:text="${#strings.capitalize('__#{lbl_tipoDeAlerta}__')}">
								</a></th>

								<th th:text="${#strings.toUpperCase('__#{lbl_mensaje}__')}"></th>

							</tr>
						</thead>

						<tbody>
							<tr th:each="alerta : ${pageAlertas.content}">

								<!-- fecha -->
								<td class="align-middle"><span
									class="articleTitle truncated" data-toggle="tooltip"
									th:text="${#calendars.format(alerta.fechaHora,'dd-MMM-yyyy HH:mm')}"
									data-placement="bottom"> </span></td>
								<!-- prioridad -->
								<td>
									<table th:if="${alerta.prioridad!=null}">
										<tr>
											<th th:text="' ' + #{${alerta.prioridad}} + ' '"
												th:style="'background:' + #{'COLOR_PRIORIDAD_'+ ${alerta.prioridad}}"
												class="basura_color_cuadro"></th>
										</tr>
									</table>
								</td>
								<!-- tipo de alerta -->
								<td class="align-middle"><p
										th:if="${alerta.tipoDeAlerta!=null}"
										th:text="' ' + #{${alerta.tipoDeAlerta}} + ' '"
										class="text-center"></p>
									<p th:unless="${alerta.tipoDeAlerta!=null}">---</p></td>

								<!-- mensaje -->
								<td class="align-middle"><p th:if="${alerta.mensaje!=null}"
										th:text=#{${alerta.mensaje}(${alerta.key})} class="mayuscula"></p>
									<p th:unless="${alerta.mensaje!=null}">---</p></td>

							</tr>
						</tbody>
					</table>
				</div>
				<!-- fin table -->
				<!-- paginacion -->
				<div id="pagionationInformation" class="col-xs-12">
					<div class="col-xs-12">
						<div class="text-left">
							<div sd:pagination-summary="info">info</div>
						</div>
					</div>
					<div class="col-xs-12">
						<nav class="text-right">
							<ul class="pagination" sd:pagination="full">
								<li class="btn disabled"><a href="#" aria-label="Previous"><span
										aria-hidden="true">&laquo;</span></a></li>
								<li class="btn active"><a href="#">1 <span
										class="sr-only">(current)</span></a></li>
							</ul>
						</nav>
					</div>
				</div>
				<!-- fin paginacion -->
				<p th:unless="${pageAlertas!=null}"></p>
				<!-- fin  list -->
			</div>
		</div>
		<!-- row -->
	</div>
	<!-- content -->
</body>
</html>
