<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">
<head>
<title th:text="#{page_registro}"></title>
</head>

<body class="formularios"
	th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
	<div id="viewBody" class="container" th:fragment="content"
		th:remove="tag">
		<h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">403</h1>

		<div
			th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
			<span th:case="${false}" th:text="#{error.403}"> </span> <span
				th:case="${true}" th:text="${username} +  #{error.403}"></span>
		</div>
		<a th:text="#{home}" th:href="@{#{menu.home_link_ref}}"> </a>
	</div>
</body>
</html>