<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">
<head>
<title th:text="#{page_registro}"></title>
</head>

<body class="formularios"
	th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
	<div id="viewBody" class="container" th:fragment="content"
		th:remove="tag">
		<h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
		<p th:text="#{error.404}"></p>
		<a th:text="#{home}" th:href="@{#{menu.home_link_ref}}"> </a>
	</div>
</body>
</html>