<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}" th:with="currentPage='recursos'">
<head>
<title th:text="#{page_registro}"></title>
</head>

<body class="formularios">
	<!-- id="viewBody" -->
	<div id="content" class="container" th:fragment="content"
		th:remove="tag">
		<div th:if="${camionForm}"
			class="col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6 col-lg-offset-2 col-lg-8">
			<div class="panel panel-default" th:if="${camionForm}">
				<div class="panel-heading ">
					<h3 class="text-center" th:text="#{frm_registro_camiones}"></h3>


				</div>
				<div class="panel-body">
					<div class="row">

						<a th:href="@{#{link.camiones}}"> <i
							class="glyphicon glyphicon-list"></i> &nbsp; <label
							th:text="#{lbl_lista_camiones}"></label>
						</a>

					</div>
					<div th:fragment="formularios"
						th:replace="camiones/camionesRegistroForm :: form(${camionForm}, ${error})"></div>
				</div>
			</div>
			<div class="panel-footer"></div>
		</div>
	</div>
</body>
</html>
