<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(~{::title})">
<title th:text="#{page_resultado}">Result Page</title>
</head>
<body>
	<div th:replace="fragments/nav :: nav(${menu})"></div>
	<div class="container">
		<th:block>
			<div
				th:replace="fragments/alert :: alert (type=${tipoAlerta}, message=#{${mensaje}})">Alert</div>
		</th:block>
	</div>
	<div
		class="container col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0">
		<div th:replace="fragments/footer :: footer()"></div>
	</div>
</body>
</html>


