<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}" th:with="currentPage='trabajadores'">
<head>
<title th:text="#{page_trabajadores_detalle}"></title>
</head>
<body class="blanco">
	<div id="content" class="container" th:fragment="content"
		th:remove="tag">

		<h1>RUTAS DEL TRABAJADOR</h1>
	</div>
</body>
</html>
