<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Thymeleaf 3 + Spring 4 example</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="webjars/bootstrap/3.3.2/css/bootstrap.min.css"
	rel="stylesheet" media="screen">
<meta charset="utf-8" />
</head>
<body>
	<h1>Thymeleaf 3 + Spring 4 example</h1>
	<p>
		Hello <span th:text="${recipient}">Peter</span>!!!
	</p>
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>