<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	layout:decorate="~{layouts/default}" th:with="currentPage='rutas'">
<head>
<title th:text="#{page_rutas_diarias}"></title>
</head>
<body class="blanco">
	<div id="content" class="container" th:fragment="content"
		th:if="${pageRutas}">
		<!-- pagination size and add button -->
		<div class="form-group row">
			<div class="col-xs-6">
				<div class="pull-left">
					<a class="btn btn-default" th:href="@{#{link.rutas}}" role="button"
						data-toggle="tooltip" th:title="#{lbl_listado_rutas}"><i
						class="glyphicon glyphicon-list-alt"></i></a> <a
						th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
						data-toggle="tooltip" th:title="#{lbl_generar_rutas}"
						class="btn btn-default" th:href="@{#{link.rutas.generar}}"
						role="button"><img
						th:src="@{/resources/static/img/route4.svg}"
						th:alt="#{page_rutas}" width=20 height=20 /></a>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="pull-right">
					<!-- page size selector (dropdrwown) -->
					<div id="size_page_selector" class="dbtn-group dropup"
						sd:page-size-selector="dropdown" th:title="#{page_size}"></div>
					<!-- //page size selector -->
				</div>
			</div>
		</div>
		<!-- titulo -->
		<div class="row container center-block">
			<h3 class="text-center text-success col-xs-12"
				th:text="${#strings.toUpperCase('__#{lbl_lista_rutas_diarias}__')}"></h3>
		</div>
		<!-- FIN pagination size and add button -->
		<div class="row">
			<!-- search form -->
			<div id="searchForm" class="col-xs-12 col-sm-12">
				<form id="busquedaRutasForm" role="form"
					class="form-narrow form-horizontal" method="get" action="#"
					th:action="@{#{link.rutas.rutasdiarias}}"
					th:object="${busquedaForm}" th:fragment="busquedaForm">
					<fieldset>
						<!-- rango de fechas  -->

						<div class="col-xs-12">
							<div class="col-xs-12 col-sm-6 form-group pull-right">
								<label class="col-xs-4 col-sm-2 text-success"
									for="rankStartDate" th:text="#{lbl_desde}+ ''"></label>
								<div class="col-xs-8 col-sm-4 has-feedback" id="datetimePicker">
									<input th:placeholder="#{fecha_formato}" type="text"
										class="form-control" id="rankStartDate" th:field="*{from}"
										th:value="${#dates.format(busquedaForm.from, 'dd-MM-yyyy')}"
										th:data-provide="datepicker" data-date-format="dd/mm/yyyy"
										th:data-date-autoclose="true"
										th:data-date-today-highlight="true"
										th:data-date-orientation="bottom" required="required" /> <span
										class="glyphicon glyphicon-calendar form-control-feedback"></span>
								</div>

								<label class="col-xs-4 col-sm-2 text-success" for="rankEndDate"
									th:text="#{lbl_hasta}+ ''"></label>
								<div class="col-xs-8 col-sm-4 has-feedback" id="datetimePicker">
									<input th:placeholder="#{fecha_formato}" type="text"
										class="form-control" id="rankEndDate" th:field="*{to}"
										th:value="${#dates.format(busquedaForm.to, 'dd-MM-yyyy')}"
										th:data-provide="datepicker" data-date-format="dd/mm/yyyy"
										th:data-date-autoclose="true"
										th:data-date-today-highlight="true"
										th:data-date-orientation="bottom" required="required" /> <span
										class="glyphicon glyphicon-calendar form-control-feedback"></span>
								</div>

							</div>
						</div>
						<div class="form-group row">
							<!-- trabajadores -->
							<div th:if="${listaTrabajadores}"
								class="text-center col-xs-6 col-sm-3 col-md-3">
								<select th:title="#{lbl_trabajadores}" class="selectpicker"
									data-style="btn btn-default" th:field="*{trabajadores}"
									id="trabajadores" multiple data-live-search="true">
									<option th:each="row, index: ${listaTrabajadores}"
										th:value="${row.id}"
										th:text="${row.apellidos} + ' ' + ${row.nombre} + '-' + ${row.docId}"></option>
								</select>
							</div>
							<!-- rutas -->
							<div th:if="${listarTodasLasRutas}"
								class="text-center col-xs-6 col-sm-3 col-md-3">
								<select th:title="#{lbl_rutas}" class="selectpicker"
									data-style="btn btn-default" data-live-search="true"
									th:field="*{rutas}" multiple>
									<option th:each="row, index: ${listarTodasLasRutas}"
										th:value="${row.id}" th:text="#{lbl_ruta} + '-' + ${row.id}"></option>
								</select>
							</div>

							<!-- camiones -->
							<div th:if="${listaTodosLosCamiones}"
								class="text-center col-xs-6 col-sm-3 col-md-3">
								<select th:title="#{lbl_camiones}" class="selectpicker"
									data-style="btn btn-default" th:field="*{camiones}"
									id="camiones" multiple data-live-search="true">
									<option th:each="row, index: ${listaTodosLosCamiones}"
										th:value="${row.id}" th:text="#{${row.nombre}}"></option>
								</select>
							</div>
							<!-- contenedores -->
							<div th:if="${listaTodosLosContenedores}"
								class="text-center col-xs-6 col-sm-3 col-md-3">
								<select th:title="#{lbl_contenedores}" class="selectpicker"
									data-style="btn btn-default" th:field="*{contenedores}"
									id="contenedores" multiple data-live-search="true">
									<option th:each="row, index: ${listaTodosLosContenedores}"
										th:value="${row.id}" th:text="#{${row.nombre}}"></option>
								</select>
							</div>
						</div>
						<!-- buscar -->
						<div class="text-center">
							<button class="btn btn-default btn-success center-block"
								type="submit" th:text="#{btn_buscar}" name="filtrarBuqueda"
								th:value="#{btn_buscar_camiones}"></button>
						</div>
					</fieldset>
				</form>
			</div>
			<div id="listaContent" th:fragment="listaContent" class="col-xs-12">
				<!-- list -->
				<div id="resultMsgDiv">
					<th:block th:if="${msg!=null}">
						<div th:if="${type!=null}"
							th:replace="fragments/alert :: alert (type='success',  message=#{${type}(${key})})"></div>
					</th:block>
				</div>
				<!-- tabla -->
				<div class="table-responsive">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th><a class="sorted" sd:pagination-sort="ruta.id"
									th:text="${#strings.capitalize('__#{lbl_ruta}__')}"> </a></th>

								<th><a class="sorted" sd:pagination-sort="fecha"
									th:text="${#strings.capitalize('__#{lbl_fecha}__')}"> </a></th>

								<th><a class="sorted" sd:pagination-sort="camion.nombre"
									th:text="${#strings.capitalize('__#{lbl_camion}__')}"> </a></th>


								<th><a class="sorted" sd:pagination-sort="conductor.nombre"
									th:text="${#strings.capitalize('__#{lbl_conductor}__')}"> </a></th>

								<th><a class="sorted"
									sd:pagination-sort="recolector1.nombre"
									th:text="${#strings.capitalize('__#{lbl_recolector}__')}">
								</a></th>

								<th><a class="sorted"
									sd:pagination-sort="recolector2.nombre"
									th:text="${#strings.capitalize('__#{lbl_recolector}__')}">
								</a></th>

								<th th:text="${#strings.toUpperCase('__#{lbl_duracion}__')}"></th>

								<th th:text="${#strings.toUpperCase('__#{lbl_acciones}__')}"></th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="rutaDiaria : ${pageRutas.content}">
								<td class="align-middle"><a
									th:if="${rutaDiaria.ruta!=null}"
									th:text="#{lbl_ruta} + '-' + ${rutaDiaria.ruta.id}"
									th:href="@{#{link.rutas.detalle}(id=${rutaDiaria.ruta.id})}"><i
										class="glyphicon glyphicon-pencil" data-toggle="tooltip"
										th:title="#{lbl_detalles}"></i></a></td>

								<!-- fecha -->
								<td class="align-middle"><span
									class="articleTitle truncated" data-toggle="tooltip"
									th:text="${#calendars.format(rutaDiaria.fecha,'dd-MMM-yyyy')}"
									data-placement="bottom"> </span></td>

								<td class="align-middle"><a
									th:if="${rutaDiaria.camion!=null}"
									th:text="${#strings.toUpperCase(rutaDiaria.camion.nombre)}"
									th:href="@{#{link.camiones.detalles}(id=${rutaDiaria.camion.id})}"><i
										th:if="${rutaDiaria.camion!=null}"
										class="glyphicon glyphicon-pencil" data-toggle="tooltip"
										th:title="#{lbl_detalles}"></i></a>
									<p th:unless="${rutaDiaria.camion!=null}">---</p></td>


								<!-- conductor -->
								<td class="align-middle"><a
									th:if="${rutaDiaria.conductor!=null}"
									th:text="${#strings.toUpperCase(rutaDiaria.conductor.nombre + ' ' + rutaDiaria.conductor.apellidos)}"
									th:href="@{#{link.trabajadores.detalles}(id=${rutaDiaria.conductor.id})}"><i
										class="glyphicon glyphicon-pencil" data-toggle="tooltip"
										th:title="#{lbl_detalles}"></i></a>
									<p th:unless="${rutaDiaria.conductor!=null}">---</td>

								<!-- recolector1 -->
								<td class="align-middle"><a
									th:if="${rutaDiaria.recogedor1!=null}"
									th:text="${#strings.toUpperCase(rutaDiaria.recogedor1.nombre + ' ' + rutaDiaria.recogedor1.apellidos)}"
									th:href="@{#{link.trabajadores.detalles}(id=${rutaDiaria.recogedor1.id})}"><i
										class="glyphicon glyphicon-pencil" data-toggle="tooltip"
										th:title="#{lbl_detalles}"></i></a>
									<p th:unless="${rutaDiaria.recogedor1!=null}">---</td>

								<!-- recogedor2 -->
								<td class="align-middle"><a
									th:if="${rutaDiaria.recogedor2!=null}"
									th:text="${#strings.toUpperCase(rutaDiaria.recogedor2.nombre + ' ' + rutaDiaria.recogedor2.apellidos)}"
									th:href="@{#{link.trabajadores.detalles}(id=${rutaDiaria.recogedor2.id})}"><i
										class="glyphicon glyphicon-pencil" data-toggle="tooltip"
										th:title="#{lbl_detalles}"></i></a>
									<p th:unless="${rutaDiaria.recogedor2!=null}">---</td>

								<!-- duracion -->
								<td class="align-middle"><span
									th:if="${rutaDiaria.duracion!=null}"
									class="articleTitle truncated" data-toggle="tooltip"
									data-placement="bottom" th:title="${rutaDiaria.duracion}"
									th:text="${rutaDiaria.duracion}"> </span> <var
										th:text="#{lbl_minutos}"></var> <span
									class="form-control-feedback"> </span></td>

								<!-- acciones -->
								<td>
									<div class="btn-group text-center" id="options">

										<!-- view details -->
										<div id="otherOptions" class="btn-group text-center">
											<a id="link_ver_detalles"
												th:href="@{#{link.rutas.historial.detalles}(id=${rutaDiaria.id})}"
												class="btn-sm"><i class="glyphicon glyphicon-eye-open"
												data-toggle="tooltip" th:title="#{lbl_ver_detalles}"></i></a> <a
												id="link_editar"
												th:href="@{#{link.rutas.historial.editar}(id=${rutaDiaria.id})}"
												class="btn-sm"><i class="glyphicon glyphicon-pencil"
												data-toggle="tooltip" th:title="#{lbl_editar}"></i></a>
										</div>

									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- fin table -->
				<!-- paginacion -->
				<div id="pagionationInformation" class="col-xs-12">
					<div class="col-xs-12">
						<div class="text-left">
							<div sd:pagination-summary="info">info</div>
						</div>
					</div>
					<div class="col-xs-12">
						<nav class="text-right">
							<ul class="pagination" sd:pagination="full">
								<li class="btn disabled"><a href="#" aria-label="Previous"><span
										aria-hidden="true">&laquo;</span></a></li>
								<li class="btn active"><a href="#">1 <span
										class="sr-only">(current)</span></a></li>
							</ul>
						</nav>
					</div>
				</div>
				<!-- fin paginacion -->
				<p th:unless="${pageRutas!=null}"></p>
				<!-- fin  list -->
			</div>
		</div>
		<!-- row -->
	</div>
	<!-- content -->
</body>
</html>
