<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/rutaDiariaForm}"
	th:with="currentPage='rutas'">
<head>
<title th:text="#{page_rutas}"></title>
</head>
<body class="formularios">
	<div id="content" class="container" th:fragment="content"
		th:remove="tag">
		<div
			class="col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
			<div class="panel panel-default" th:if="${rutaDiariaForm}">
				<div class="panel-heading ">
					<h3 class="text-center text-success"
						th:text="${#strings.toUpperCase('__#{lbl_editar_ruta_diaria}__')} + ' #' + ${rutaDiariaForm.rutaId}"></h3>

					<h4 class="text-center text-success"
						th:text="${#strings.toUpperCase('__${#calendars.format(rutaDiariaForm.fecha,'dd-MMM-yyyy')}__')}"></h4>

					<!-- tipos de basura -->
					<table class="center">
						<tr>
							<th></th>
							<th th:each="
						item, row: ${rutaDiariaForm.tiposDeBasura}"
								th:style="'background: #' + ${item.color}"
								class="basura_color_cuadro"></th>
						</tr>
					</table>
					<div class="row">
						<div class="col-xs-6 text-left">
							<div class="btn-group">
								<a id="link_ver_detalles"
									th:href="@{#{link.rutas.historial.detalles}(id=${rutaDiariaForm.id})}"
									class="btn-sm"> <i data-toggle="tooltip"
									th:title="#{lbl_navegar}" class="material-icons"
									style="font-size: 32px; color: green;">navigation</i>
								</a>
							</div>
						</div>
						<div class="col-xs-6 text-right">
							<div class="btn-group">
								<a
									th:href="@{#{link.rutas.rutasdiarias}(from=${#calendars.format(rutaDiariaForm.fecha, 'dd/MM/yyyy')}, to=${#calendars.format(rutaDiariaForm.fecha, 'dd/MM/yyyy')})}"
									class="btn-sm"> <i class="glyphicon glyphicon-list"
									data-toggle="tooltip" th:title="#{lbl_historial_rutas}"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<form th:if="rutaRegistroForm" role="form"
						class="form-narrow form-horizontal" method="post" action="#"
						th:action="@{#{link.rutas.historial.editar}(id=${rutaDiariaForm.id})}"
						th:object="${rutaDiariaForm}" th:fragment="rutaRegistroForm"
						id="rutaRegistroForm">
						<fieldset>

							<!-- mensaje ok -->
							<th:block th:if="${msg!=null}">
								<div th:if="${type!=null}"
									th:replace="fragments/alert :: alert (type='success',  message=#{${type}(${key})})"></div>
							</th:block>

							<!-- mensaje error -->

							<th:block th:if="${error!=null and msg==null}">
								<div th:if="${type!=null}"
									th:replace="fragments/alert :: alert (type='danger',  message=#{${type}(${key})})"></div>
							</th:block>

							<th:block th:if="${#fields.hasErrors('${rutaDiariaForm.*}')}">
								<br />
								<div
									th:replace="fragments/alert :: alert (type='danger', message=#{verificar_campos_alerta})">Alert</div>

								<ul class="list-group">
									<li class="list-group-item"
										th:each="err : ${#fields.errors('*')}"><span
										class="glyphicon glyphicon-remove"> </span> <a href="#"
										th:text="${err}"></a></li>
								</ul>
								<br />
							</th:block>
							<br />
							<!-- fields -->
							<!-- id -->
							<input th:if="*{id}!=null" type="hidden"
								class="mayusculas col-sm-6 form-control" id="id"
								th:field="*{id}" />
							<!-- ruta id -->
							<input th:if="*{rutaId}!=null" type="hidden"
								class="mayusculas col-sm-6 form-control" id="rutaId"
								th:field="*{rutaId}" />
							<!-- fecha -->
							<legend class="col-xs-12 text-success"></legend>
							<br> <input type="hidden" class="form-control" id="fecha"
								th:field="*{fecha}" th:data-provide="datepicker"
								data-date-format="dd/mm/yyyy" th:data-date-autoclose="true"
								th:data-date-today-highlight="true"
								th:data-date-orientation="bottom" required="required" />
							<!-- camion -->
							<div class="form-group">
								<div
									th:classappend="${#fields.hasErrors('camion')} ? 'has-error'">
									<div class="col-xs-3 col-sm-4 col-md-4">
										<label for="camion" class="col-form-label"
											th:text="#{lbl_camion_asignado}+ '*'"> </label>
									</div>
									<div class="col-xs-9 col-sm-8 col-md-8">
										<div class="input-group  has-feedback col-xs-9 col-md-5">
											<div class="text-center col-xs-6 col-sm-3 col-md-3">
												<select th:title="#{lbl_camion}" class="selectpicker"
													data-style="btn btn-default" th:field="*{camion}"
													data-live-search="true">
													<option th:each="row, index: ${listaCamionesDisponibles}"
														th:value="${row.id}" th:text="${row.nombre}"></option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-md-4">
										<span class="help-block"
											th:if="${#fields.hasErrors('camion')}" th:errors="*{camion}">
											<br>
										</span>
									</div>
								</div>
							</div>
							<!-- fin camion -->

							<!-- conductor -->
							<div class="form-group">
								<div
									th:classappend="${#fields.hasErrors('conductor')} ? 'has-error'">
									<div class="col-xs-3 col-sm-4 col-md-4">
										<label for="conductor" class="col-form-label"
											th:text="#{lbl_conductor}+ '*'"> </label>
									</div>
									<div class="col-xs-9 col-sm-8 col-md-8">
										<div class="input-group  has-feedback col-xs-9 col-md-5">
											<div class="text-center col-xs-6 col-sm-3 col-md-3">
												<select th:title="#{lbl_conductor}" class="selectpicker"
													data-style="btn btn-default" th:field="*{conductor}"
													data-live-search="true">
													<option th:each="row, index: ${conductoresActivos}"
														th:value="${row.id}"
														th:text="${row.apellidos} + ' '  + ${row.nombre} + '-' + ${row.docId}"></option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-md-4">
										<span class="help-block"
											th:if="${#fields.hasErrors('conductor')}"
											th:errors="*{conductor}"> <br>
										</span>
									</div>
								</div>
							</div>
							<!-- recolectores -->
							<div class="form-group">
								<div
									th:classappend="${#fields.hasErrors('recolectores')} ? 'has-error'">
									<div class="col-xs-3 col-sm-4 col-md-4">
										<label for="recolectores" class="col-form-label"
											th:text="#{lbl_recolectores}+ '*'"> </label>
									</div>
									<div class="col-xs-9 col-sm-8 col-md-8">
										<div class="input-group  has-feedback col-xs-9 col-md-5">
											<div class="text-center col-xs-6 col-sm-3 col-md-3">
												<select th:title="#{lbl_seleccione}" class="selectpicker"
													data-style="btn btn-default" th:field="*{recolectores}"
													data-live-search="true" multiple="multiple">
													<option th:each="row, index: ${recolectoresActivos}"
														th:value="${row.id}"
														th:text="${row.apellidos} + ' '  + ${row.nombre} + '-' + ${row.docId}"></option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-md-4">
										<span class="help-block"
											th:if="${#fields.hasErrors('recolectores')}"
											th:errors="*{recolectores}"> <br>
										</span>
									</div>
								</div>
							</div>


							<!-- inicio y fin de la ruta -->
							<legend class="col-xs-12 text-success"
								th:text="#{lbl_localizacion}"></legend>
							<!-- punto de inicio -->

							<div th:object="${rutaDiariaForm.puntoInicio}">
								<span class="glyphicon glyphicon-map-marker"></span> <label
									for="puntoInicio" class="col-form-label"
									th:text="#{lbl_punto_inicio}"></label> <label id="puntoInicio"
									th:data-lat="${rutaDiariaForm.puntoInicio.lat}"
									th:data-lng="${rutaDiariaForm.puntoInicio.lng}"
									th:text="${#strings.toUpperCase(rutaDiariaForm.puntoInicio)}">
								</label> <label class="text-left text-success"> <var>(DD)</var>
								</label>
							</div>
							<p id="puntoInicioDir" class="text-info"></p>
							<div th:object="${rutaDiariaForm.puntoFinal}">
								<span class="glyphicon glyphicon-map-marker"></span> <label
									for="puntoFinal" class="col-form-label"
									th:text="#{lbl_punto_final}"></label> <label id="puntoFinal"
									th:data-lat="${rutaDiariaForm.puntoFinal.lat}"
									th:data-lng="${rutaDiariaForm.puntoFinal.lng}"
									th:text="${#strings.toUpperCase(rutaDiariaForm.puntoFinal)}">
								</label> <label class="text-left text-success"> <var>(DD)</var>
								</label>
							</div>
							<p id="puntoFinalDir" class="text-info"></p>
							<input th:if="*{rutaId}!=null" type="hidden"
								class="mayusculas col-sm-6 form-control" id="rutaId"
								th:field="*{rutaId}" />
							<!-- MAPA -->
							<legend class="col-xs-12 text-success" th:text="#{lbl_ruta}"></legend>
							<div class="col-xs-offset-1 col-xs-10 map_canvas" id="mapa"></div>
							<div class="col-xs-12"></div>
							<div></div>
							<br>
						</fieldset>
						<br> <br> <br>
						<button th:if="*{id}!=null"
							class="btn btn-default btn-success btn-lg btn-block"
							type="submit" th:text="#{btn_update}" name="editar"
							th:value="editar"></button>
					</form>
				</div>
			</div>
			<div class="panel-footer"></div>
		</div>
	</div>
</body>
</html>
