<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	layout:decorate="~{layouts/default}" th:with="currentPage='rutas'">
<head>
<title th:text="#{page_historial}"></title>
</head>
<body class="blanco">
	<div id="content" class="container" th:fragment="content"
		th:if="${pageRutas}">
		<!-- pagination size and add button -->
		<div class="form-group row">
			<div class="col-xs-6"></div>
			<div class="col-xs-6">
				<div class="pull-right">
					<!-- page size selector (dropdrwown) -->
					<div id="size_page_selector" class="dbtn-group dropup"
						sd:page-size-selector="dropdown" th:title="#{page_size}"></div>
					<!-- //page size selector -->
				</div>
			</div>
		</div>
		<!-- titulo -->
		<div class="row container center-block">
			<h3 class="text-center text-success col-xs-12"
				th:text="${#strings.toUpperCase('__#{lbl_historial_mis_rutas}__')}"></h3>
			<h4 class="text-center text-warning col-xs-12"
				th:if="${trabajador!=null}"
				th:text="${#strings.toUpperCase(trabajador.nombre + ' ' + trabajador.apellidos)}"></h4>
		</div>
		<!-- FIN pagination size and add button -->
		<div class="row">
			<div id="listaContent" th:fragment="listaContent" class="col-xs-12">
				<!-- list -->
				<div id="resultMsgDiv">
					<th:block th:if="${msg!=null}">
						<div th:if="${type!=null}"
							th:replace="fragments/alert :: alert (type='success',  message=#{${type}(${key})})"></div>
					</th:block>
				</div>
				<!-- tabla -->
				<div class="table-responsive">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th><a class="sorted" sd:pagination-sort="ruta.id"
									th:text="${#strings.capitalize('__#{lbl_ruta}__')}"> </a></th>

								<th><a class="sorted" sd:pagination-sort="fecha"
									th:text="${#strings.capitalize('__#{lbl_fecha}__')}"> </a></th>

								<th><a class="sorted" sd:pagination-sort="camion.nombre"
									th:text="${#strings.capitalize('__#{lbl_camion}__')}"> </a></th>


								<th><a class="sorted" sd:pagination-sort="conductor.nombre"
									th:text="${#strings.capitalize('__#{lbl_conductor}__')}"> </a></th>

								<th><a class="sorted"
									sd:pagination-sort="recolector1.nombre"
									th:text="${#strings.capitalize('__#{lbl_recolector}__')}">
								</a></th>

								<th><a class="sorted"
									sd:pagination-sort="recolector2.nombre"
									th:text="${#strings.capitalize('__#{lbl_recolector}__')}">
								</a></th>

								<th th:text="${#strings.toUpperCase('__#{lbl_duracion}__')}"></th>

								<th th:text="${#strings.toUpperCase('__#{lbl_acciones}__')}"></th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="rutaDiaria : ${pageRutas.content}">

								<td class="align-middle"><p
										th:if="${rutaDiaria.ruta!=null}"
										th:text="#{lbl_ruta} + '-' + ${rutaDiaria.ruta.id}"
										class="btn-sm"></p></td>

								<!-- fecha -->
								<td class="align-middle"><span
									class="articleTitle truncated" data-toggle="tooltip"
									th:text="${#calendars.format(rutaDiaria.fecha,'dd-MMM-yyyy')}"
									data-placement="bottom"> </span></td>

								<td class="align-middle"><p
										th:if="${rutaDiaria.camion!=null}"
										th:text="${#strings.toUpperCase(rutaDiaria.camion.nombre)}"
										class="btn-sm"></p>
									<p th:unless="${rutaDiaria.camion!=null}">---</p></td>


								<!-- conductor -->
								<td class="align-middle"><p
										th:if="${rutaDiaria.conductor!=null}"
										th:text="${#strings.toUpperCase(rutaDiaria.conductor.nombre + ' ' + rutaDiaria.conductor.apellidos)}"
										class="btn-sm"></p>
									<p th:unless="${rutaDiaria.conductor!=null}">---</td>

								<!-- recolector1 -->
								<td class="align-middle"><p
										th:if="${rutaDiaria.recogedor1!=null}"
										th:text="${#strings.toUpperCase(rutaDiaria.recogedor1.nombre + ' ' + rutaDiaria.recogedor1.apellidos)}"
										class="btn-sm"></p>
									<p th:unless="${rutaDiaria.recogedor1!=null}">---</td>

								<!-- recogedor2 -->
								<td class="align-middle"><p
										th:if="${rutaDiaria.recogedor2!=null}"
										th:text="${#strings.toUpperCase(rutaDiaria.recogedor2.nombre + ' ' + rutaDiaria.recogedor2.apellidos)}"
										th:href="@{#{link.trabajadores.detalles}(id=${rutaDiaria.recogedor2.id})}"
										class="btn-sm"></p>
									<p th:unless="${rutaDiaria.recogedor2!=null}">---</td>

								<!-- duracion -->
								<td class="align-middle"><span
									th:if="${rutaDiaria.duracion!=null}"
									class="articleTitle truncated" data-toggle="tooltip"
									data-placement="bottom" th:title="${rutaDiaria.duracion}"
									th:text="${rutaDiaria.duracion}"> </span> <var
										th:text="#{lbl_minutos}"></var> <span
									class="form-control-feedback"> </span></td>

								<!-- acciones -->
								<td>
									<div class="btn-group text-center" id="options">

										<!-- view details -->
										<div id="otherOptions" class="btn-group text-center">
											<a id="link_ver_detalles"
												th:href="@{#{link.rutas.historial.navegar}(id=${rutaDiaria.id})}"
												class="btn-sm"> <i data-toggle="tooltip"
												th:title="#{lbl_navegar}" class="material-icons"
												style="color: green">navigation</i>
											</a>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- fin table -->
				<!-- paginacion -->
				<div id="pagionationInformation" class="col-xs-12">
					<div class="col-xs-12">
						<div class="text-left">
							<div sd:pagination-summary="info">info</div>
						</div>
					</div>
					<div class="col-xs-12">
						<nav class="text-right">
							<ul class="pagination" sd:pagination="full">
								<li class="btn disabled"><a href="#" aria-label="Previous"><span
										aria-hidden="true">&laquo;</span></a></li>
								<li class="btn active"><a href="#">1 <span
										class="sr-only">(current)</span></a></li>
							</ul>
						</nav>
					</div>
				</div>
				<!-- fin paginacion -->
				<p th:unless="${pageRutas!=null}"></p>
				<!-- fin  list -->
			</div>
		</div>
		<!-- row -->
	</div>
	<!-- content -->
</body>
</html>
