<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}" th:with="currentPage='recursos'">
<head>
<title th:text="#{page_camiones_modelo}"></title>
</head>

<body class="formularios">
	<!-- id="viewBody" -->
	<div id="content" class="container" th:fragment="content"
		th:remove="tag">
		<div
			class="col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
			<div class="panel panel-default" th:if="${camionModeloForm}">

				<div class="panel-heading ">
					<h3 th:if="${camionModeloForm.id}==null" class="text-center"
						th:text="#{frm_registro_camiones_modelos}"></h3>
					<h3 th:unless="${camionModeloForm.id}==null" class="text-center"
						th:text="#{frm_editar_camiones_modelos}"></h3>
				</div>
				<div class="panel-body">
					<div class="row">

						<div th:if="${camionModeloForm.id!=null}" class="row">
							<div class="col-xs-11 text-right">
								<div class="btn-group">
									<a id="link_ver_detalles"
										th:href="@{#{link.camiones.modelos.detalle}(id=${camionModeloForm.id})}"
										class="btn-sm"><i class="glyphicon glyphicon-eye-open"
										data-toggle="tooltip" th:title="#{lbl_ver_detalle}"></i></a> <a
										th:href="@{#{link.camiones.modelos.registro}}" class="btn-sm"><i
										class="glyphicon glyphicon-plus"></i> </a> <a
										th:href="@{#{link.camiones.modelos}}" class="btn-sm"> <i
										class="glyphicon glyphicon-list"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="col-xs-12 text-left">
							<div th:unless="${camionModeloForm.id!=null}" class="row">
								<a th:href="@{#{link.camiones.modelos}}"> <i
									class="glyphicon glyphicon-list"></i> &nbsp; <label
									th:text="#{lbl_listado_camiones_modelos}"></label>

								</a>
							</div>
						</div>

					</div>
					<div th:fragment="formularios"
						th:replace="camiones/modelos/modelosForm :: modelosForm(${camionModeloForm}, ${error})"></div>
				</div>
			</div>
			<div class="panel-footer"></div>
		</div>
	</div>
</body>
</html>
