/* BACKGROUND CSS*/
body {
	background: #FFFFFF;
	font-family: 'Lustria', serif;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

body.index {
	background: #FFFFFF url(../img/cityBackground.jpg) no-repeat center
		center fixed;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.formularios {
	background: #F4F6F7;
}

body.blanco {
	background: #ffffff;
}

input.mayusculas {
	text-transform: uppercase;
}

input.minusculas {
	text-transform: lowercase;
}

input:invalid {
	border-color: red;
}

input, input:valid {
	border-color: black;
}

input.capitalize {
	text-transform: capitalize;
}

.basura_color_cuadro {
	width: 25;
	height: 25;
	border-radius: 20%;
	color: #fff;
	text-align: center;
	background: #000
}

.basura_color_circulo {
	width: 25;
	height: 25;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	background: #000
}

.navbar {
	font-family: 'Merienda One', cursive;
}

.pull-right>.dropdown-menu {
	right: 0;
	left: auto;
}

.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
	border-top: 0;
	border-bottom: 4px solid #ffffff;
	content: "";
}

.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
	top: auto;
	bottom: 100%;
	margin-bottom: 1px;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropup .dropdown-submenu>.dropdown-menu {
	top: auto;
	bottom: 0;
	margin-top: 0;
	margin-bottom: -2px;
	-webkit-border-radius: 5px 5px 5px 0;
	-moz-border-radius: 5px 5px 5px 0;
	border-radius: 5px 5px 5px 0;
}

.dropdown-submenu>a:after {
	display: block;
	float: right;
	width: 0;
	height: 0;
	margin-top: 5px;
	margin-right: -10px;
	border-color: transparent;
	border-left-color: #cccccc;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	content: " ";
}

.dropdown-submenu:hover>a:after {
	border-left-color: #2e3436;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

.navbar .nav li.dropdown>a:hover .caret, .navbar .nav li.dropdown>a:focus .caret
	{
	border-top-color: #333333;
	border-bottom-color: #333333;
}

.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle,
	.navbar .nav li.dropdown.open.active>.dropdown-toggle {
	color: #000000;
	background-color: #e5e5e5;
}

.navbar .nav li.dropdown>.dropdown-toggle .caret {
	border-top-color: #777777;
	border-bottom-color: #777777;
}

.navbar .nav li.dropdown.open>.dropdown-toggle .caret, .navbar .nav li.dropdown.active>.dropdown-toggle .caret,
	.navbar .nav li.dropdown.open.active>.dropdown-toggle .caret {
	border-top-color: #000000;
	border-bottom-color: #555555;
}

.navbar .pull-right>li>.dropdown-menu, .navbar .nav>li>.dropdown-menu.pull-right
	{
	right: 0;
	left: auto;
}

.navbar .pull-right>li>.dropdown-menu:before, .navbar .nav>li>.dropdown-menu.pull-right:before
	{
	right: 12px;
	left: auto;
}

.navbar .pull-right>li>.dropdown-menu:after, .navbar .nav>li>.dropdown-menu.pull-right:after
	{
	right: 13px;
	left: auto;
}

.navbar .pull-right>li>.dropdown-menu .dropdown-menu, .navbar .nav>li>.dropdown-menu.pull-right .dropdown-menu
	{
	right: 100%;
	left: auto;
	margin-right: -1px;
	margin-left: 0;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

.fa.valid-feedback, .fa.invalid-feedback {
	position: absolute;
	right: 25px;
	margin-top: -50px;
	z-index: 2;
	display: block;
	pointer-events: none;
}

.fa.valid-feedback {
	margin-top: -28px;
}

body.container {
	margin-top: 2%;
}

img.account {
	height: 25%;
	width: 25%;
	border-radius: 60%;
	margin: 0 auto;
}

.panel-primary {
	opacity: 0.93;
	margin-top: 30px;
}

.form-group.last {
	margin-bottom: 0px;
}

/* SORT ICONS PAGEABLE THYMELEAF (custom CSS to have sort icons in the table headers*/
.sorted-desc::after, .sorted-asc::after {
	float: right;
}

.sorted-desc::after {
	content: "\25BC";
}

.sorted-asc::after {
	content: "\25B2";
}

.active a {
	color: #5cb85c !important;
}

a:link {
	color: #000000;
}

/* visited link */
a:visited {
	color: #5cb85c;
	text-decoration: none;
}

/* mouse over link and selected link */
a:hover, a:active {
	color: #ef2929;
	text-decoration: underline;
}

.btn-default {
	padding: 10px 20px;
	background-color: #333;
	color: #f1f1f1;
	border-radius: 0;
	transition: .2s;
}

.btn-default:hover, .btn-default:focus {
	border: 1px solid #333;
	background-color: #fff;
	color: #000;
}

select.form-control, input.form-control, option.form-control {
	cursor: pointer;
	outline-style: none;
	box-shadow: none;
	border: none;
	border-bottom: 1px solid #ccc;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.form-control:focus {
	border: none;
	border-bottom: 1px solid #000000;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.001), 0 0 8px
		rgba(255, 255, 255, .9);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.001), 0 0 8px
		rgba(255, 255, 255, .9);
}

.form-control:hover {
	border: none;
	border-bottom: 1px solid #000000;
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.001), 0 0 8px
		rgba(255, 255, 255, .9);
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.001), 0 0 8px
		rgba(255, 255, 255, .9);
}

.modal-header, h4.modal-header, .close-modal {
	background-color: #333;
	color: #fff !important;
	text-align: center;
	font-size: 30px;
}

.modal-header, .modal-body {
	padding: 40px 50px;
}

.panel-default>.panel-heading {
	color: #000000;
	background-color: #ffffff;
	border-color: #ffffff;
}

.panel-primary>.panel-heading {
	color: #ffffff;
	background-color: #494949;
	border-color: #ffffff;
}

/*pagination custom */
.pagination a {
	color: #5cb85c !important;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus,
	.pagination>li>span:hover {
	z-index: 3;
	color: #5cb85c;
	background-color: #d3d7cf;
	border-color: #ffffff;
}

.pagination>.active>span {
	z-index: 3;
	color: #fff;
	cursor: default;
	background-color: #5cb85c;
	border-color: #5cb85c;
}

.pagination>.active>span:hover {
	z-index: 3;
	color: #fff;
	cursor: default;
	background-color: #5cb85c;
	border-color: #eeeeec;
}