<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
	<div th:fragment="form(contenedorForm, error)">

		<form th:if="contenedorForm" id="contenedorForm" role="form"
			class="form-narrow form-horizontal" method="post" action="#"
			th:action="@{#{link.contenedores.editar}(id=${contenedorForm.id})}"
			th:object="${contenedorForm}" th:fragment="formulario">
			<fieldset>
				<!-- mensaje ok -->
				<th:block th:if="${msg!=null}">
					<div th:if="${type!=null}"
						th:replace="fragments/alert :: alert (type='success',  message=#{${type}(${key})})"></div>
				</th:block>

				<!-- mensaje error -->
				<th:block th:if="${error!=null and msg==null}">
					<div th:if="${type!=null}"
						th:replace="fragments/alert :: alert (type='danger',  message=#{${type}(${key})})"></div>
				</th:block>

				<th:block th:if="${#fields.hasErrors('${contenedorForm.*}')}">
					<br />
					<div
						th:replace="fragments/alert :: alert (type='danger', message=#{verificar_campos_alerta})">Alert</div>

					<ul class="list-group">
						<li class="list-group-item" th:each="err : ${#fields.errors('*')}"><span
							class="glyphicon glyphicon-remove"> </span> <a href="#"
							th:text="${err}"></a></li>
					</ul>
					<br />
				</th:block>
				<br />
				<!-- id -->
				<input th:if="*{id}" type="hidden"
					class="mayusculas col-sm-6 form-control" id="id" th:field="*{id}" />

				<!-- localizacion  del contenedor-->
				<div id="localizacion_div"  class="custom-multiselect">
					<div class="form-group">
						<div class="pull-left col-xs-12 col-sm-3">
							<label for="geocomplete" class="col-form-label"
								th:text="#{lbl_contenedor_localizacion} + '*'"></label>
						</div>
						<div class="col-xs-12 col-sm-8">
							<div class=" input-group">
								<input id="geocomplete" type="text" class="form-control"
									th:placeholder="#{lbl_pholder_localizacion}"
									th:field="*{localizacion}"> <span
									class="input-group-btn">
									<button class="btn btn-success" id="findLocalizacion"
										type="button" th:text="#{btn_buscar}" value="">Go!</button>
								</span>
							</div>
						</div>
					</div>

					<!-- mapa -->
					<div class="col-xs-offset-1 col-xs-10 map_canvas" id="mapa"></div>
					<div class="col-xs-12"></div>
					<!-- latitude -->
					<div id="nombre-group" class="form-group"
						th:classappend="${#fields.hasErrors('latitud')}? 'has-error'">
						<div class="pull-left col-xs-3 col-sm-3 col-md-3">
							<label for="latitud" class="col-form-label"
								th:text="#{lbl_contenedor_latitud} + '*'"></label>
						</div>
						<div class="has-feedback col-xs-9 col-sm-6 col-md-5">
							<input id="lat" data-geo="lat" type="text"
								class="col-sm-6 form-control"
								th:with="format=#{decimales_formato}" th:field="*{latitud}"
								required="required" /> <span class="form-control-feedback">(<var>DD</var>)
							</span>
						</div>
						<div class="col-xs-12 col-sm-3 col-md-4">
							<span class="help-block" th:if="${#fields.hasErrors('latitud')}"
								th:errors="*{latitud}"></span>
						</div>
					</div>
					<div id="nombre-group" class="form-group"
						th:classappend="${#fields.hasErrors('longitud')}? 'has-error'">
						<div class="pull-left col-xs-3 col-sm-3 col-md-3">
							<label for="longitud" class="col-form-label"
								th:text="#{lbl_contenedor_longitude} + '*'"></label>
						</div>
						<div class="has-feedback col-xs-9 col-sm-6 col-md-5">
							<input id="lng" data-geo="lng" type="text"
								class="col-sm-6 form-control" th:field="*{longitud}"
								required="required" /> <span class="form-control-feedback">(<var>DD</var>)
							</span>
						</div>
						<div class="col-xs-12 col-sm-3 col-md-4">
							<span class="help-block" th:if="${#fields.hasErrors('longitud')}"
								th:errors="*{longitud}"></span>
						</div>
					</div>
				</div>

				<!-- nombre -->
				<div id="nombre-group" class="form-group"
					th:classappend="${#fields.hasErrors('nombre')}? 'has-error'">
					<div class="col-xs-3 col-md-3">
						<label for="nombre" class="col-form-label"
							th:text="#{lbl_contenedor_nombre} + '*'"></label>
					</div>

					<div class="col-xs-9 col-md-5">
						<input type="text" class="mayusculas form-control" maxlength="255"
							id="nombre"
							th:placeholder="#{frm_registro_contenedor_nombre_pholder}"
							th:field="*{nombre}" required="required" />
					</div>
					<div class="col-xs-12 col-md-4">
						<span class="help-block" th:if="${#fields.hasErrors('nombre')}"
							th:errors="*{nombre}"></span>
					</div>
				</div>
				<!-- modelo contenedor -->
				<div class="form-group">
					<div
						th:classappend="${#fields.hasErrors('modeloContenedor')} ? 'has-error'">
						<div class="col-xs-3 col-md-3">
							<label for="modelo" class="col-form-label"
								th:text="#{lbl_modelo}+ '*'"> </label>
						</div>
						<div class="col-xs-9 col-md-5">
							<div th:if="${todosLosModelos}" class="input-group has-feedback">
								<select th:field="*{modeloContenedor}" class="form-control"
									data-style="btn-default" id="modelo">
									<option th:if="${todosLosModelos}!=null"
										th:each="row, index: ${todosLosModelos}" th:value="${row.id}"
										th:text="${row.modelo}"></option>
								</select>
							</div>
						</div>
						<div class="col-xs-12 col-md-4">
							<span class="help-block"
								th:if="${#fields.hasErrors('modeloContenedor')}"
								th:errors="*{modeloContenedor}"> <br>
							</span>
						</div>


					</div>
				</div>
				<!-- activo -->
				<div class="col-xs-12">
					<div class="col-xs-3"></div>
					<div class="col-xs-3 col-md-4">
						<div class="form-check">
							<label> <input id="activo" type="checkbox"
								th:field="*{activo}" th:value="${activo}" name="check">
								<span class="label-text" th:text="#{lbl_activo}"></span>
							</label>
						</div>
					</div>
					<div class="col-xs-3"></div>
				</div>
			</fieldset>
			<br>
			<button class="btn btn-default btn-lg btn-block" type="submit"
				th:text="#{btn_update}" name="modificar" th:value="modificar"></button>
		</form>

	</div>
</body>
</html>
