<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sd="http://www.thymeleaf.org/spring-data"
	layout:decorate="~{layouts/default}"
	th:with="currentPage='contenedores'">
<head>
<title th:text="#{page_contenedores}"></title>
</head>
<body class="blanco">
	<div id="content" class="container" th:fragment="content"
		th:if="${pageContenedores}">
		<!-- pagination size and add button -->
		<div class="form-group row">
			<div class="col-xs-6">
				<div class="pull-left">
					<a class="btn btn-default"
						th:href="@{#{link.contenedores.registro}}" role="button"><i
						class="glyphicon glyphicon-plus" data-toggle="tooltip"
						th:title="#{frm_registro_contenedores}"></i></a> <a
						class="btn btn-default" th:href="@{#{link.mapa.contenedores}}"
						role="button"><i class="fa fa-map-o" data-toggle="tooltip"
						th:title="#{mapa}"></i></a>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="pull-right">
					<!-- page size selector (dropdrwown) -->
					<div id="size_page_selector" class="dbtn-group dropup"
						sd:page-size-selector="dropdown" th:title="#{page_size}"></div>
					<!-- //page size selector -->
				</div>
			</div>
		</div>
		<!-- titulo -->
		<div class="row container center-block">
			<h3 class="text-center text-success col-xs-12"
				th:text="${#strings.toUpperCase('__#{lbl_lista_contenedores}__')}"></h3>
		</div>
		<!-- FIN pagination size and add button -->
		<div class="row">
			<!-- search form -->
			<div id="searchForm" class="col-xs-12 col-sm-12">
				<form id="busquedaContenedoresForm" role="form"
					class="form-narrow form-horizontal" method="post" action="#"
					th:action="@{#{link.contenedores}}" th:object="${busquedaForm}"
					th:fragment="busquedaForm">
					<fieldset>
						<div class="form-group row">

							<!-- tipos de basura -->
							<div th:if="${tiposDeBasura}"
								class="text-center col-xs-12 col-sm-4 col-md-3">
								<select th:title="#{lbl_tipos_basura}" class="selectpicker"
									data-style="btn btn-default" th:field="*{tiposDeBasura}"
									id="tipo" multiple>
									<option th:each="row, index: ${tiposDeBasura}"
										th:value="${row.id}" th:text="#{${row.tipo}}"></option>
								</select>
							</div>

							<!-- tipo de field -->
							<div th:if="${todosLosModelos}"
								class="col-xs-12 col-sm-2 col-md-2">
								<select th:field="*{modelo}" class="form-control mySelect"
									data-style="btn-default" id="modelo">
									<option value="" th:text="#{lbl_seleccione}"></option>
									<option th:if="${todosLosModelos}!=null"
										th:each="row, index: ${todosLosModelos}" th:value="${row.id}"
										th:text="${row.modelo}"></option>
								</select>
							</div>

							<div class="col-xs-6 col-sm-2 col-md-1">
								<div class="form-check">
									<label> <input id="activos" type="checkbox"
										th:field="*{mostrarSoloContenedoresActivos}"
										th:value="${mostrarSoloContenedoresActivos}" name="check">
										<span class="label-text" th:text="#{lbl_contenedores_activos}"></span>
									</label>
								</div>
							</div>
							<div class="col-xs-6 col-sm-2 col-md-2">
								<div class="form-check">
									<label> <input id="alta" type="checkbox"
										th:field="*{mostrarSoloContenedoresDeAlta}"
										th:value="${mostrarSoloContenedoresDeAlta}" name="check">
										<span class="label-text" th:text="#{lbl_contenedores_alta}"></span>
									</label>
								</div>
							</div>


							<div class="col-xs-12 col-sm-12 col-md-4">
								<div class=" input-group">
									<input type="text" class="form-control"
										th:placeholder="#{lbl_pholder_search}" th:field="*{buscar}">
									<span class="input-group-btn">
										<button class="btn btn-success" type="submit"
											th:text="#{btn_buscar}" th:value="#{btn_buscar_contenedores}">Go!</button>
									</span>
								</div>
							</div>


						</div>
					</fieldset>
				</form>
			</div>

			<div id="listaContent" th:fragment="listaContent" class="col-xs-12">

				<!-- list -->
				<div id="resultMsgDiv">
					<th:block th:if="${msg!=null}">
						<div th:if="${type!=null}"
							th:replace="fragments/alert :: alert (type='success',  message=#{${type}(${key})})"></div>
					</th:block>
				</div>
				<!-- tabla -->
				<div class="table-responsive">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th><a class="sorted" sd:pagination-sort="id"
									th:text="${#strings.capitalize('__#{lbl_id}__')}"> </a></th>

								<th><a class="sorted" sd:pagination-sort="nombre"
									th:text="${#strings.toUpperCase('__#{lbl_contenedor_nombre}__')}">
								</a></th>

								<th><a class="sorted" sd:pagination-sort="latitud"
									th:text="${#strings.toUpperCase('__#{lbl_contenedor_latitud}__')}"></a></th>

								<th><a class="sorted" sd:pagination-sort="longitud"
									th:text="${#strings.toUpperCase('__#{lbl_contenedor_longitude}__')}"></a></th>

								<th th:text="${#strings.toUpperCase('__#{lbl_fecha_alta}__')}"></th>

								<th th:text="${#strings.toUpperCase('__#{lbl_fecha_baja}__')}"></th>

								<th th:text="${#strings.toUpperCase('__#{lbl_modelo}__')}"></th>

								<th th:text="${#strings.toUpperCase('__#{lbl_acciones}__')}">Acciones</th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="contenedor : ${pageContenedores.content}">
								<td class="align-middle"><span
									class="articleTitle truncated" data-toggle="tooltip"
									data-placement="bottom" th:title="${contenedor.id}"
									th:text="${contenedor.id}"> </span></td>

								<td class="align-middle"
									th:text="${#strings.toUpperCase(contenedor.nombre)}"></td>


								<td class="align-middle" th:text="${contenedor.latitud}"></td>

								<td class="align-middle" th:text="${contenedor.longitud}">
								</td>


								<td class="align-middle">
									<p th:if="${contenedor.fechaAlta != null}"
										th:with="df=#{fecha_formato}"
										th:text="${#dates.format(contenedor.fechaAlta, df)}"></p>

								</td>

								<td class="align-middle">
									<p th:if="${contenedor.fechaBaja != null}"
										th:with="df=#{fecha_formato}"
										th:text="${#dates.format(contenedor.fechaBaja, df)}"></p>
								</td>

								<!-- <td class="align-middle"
									th:text="${#strings.toUpperCase(#strings.toLowerCase(contenedor.modelo.modelo))}">
								</td>
								 -->
								<td class="align-middle"
									th:text="${#strings.toUpperCase(#strings.toLowerCase(''))}">
								</td>
								<td>
									<div class="btn-group text-center" id="options">

										<!-- view details -->
										<div id="otherOptions" class="btn-group text-center">
											<a id="link_ver_detalles"
												th:href="@{#{link.contenedores.detalles}(id=${contenedor.id})}"
												class="btn-sm"><i class="glyphicon glyphicon-eye-open"
												data-toggle="tooltip" th:title="#{lbl_ver_detalles}"></i></a>

											<!-- edit -->
											<a id="link_editar"
												th:href="@{#{link.contenedores.editar}(id=${contenedor.id})}"
												class="btn-sm"><i class="glyphicon glyphicon-pencil"
												data-toggle="tooltip" th:title="#{lbl_editar}"></i></a>
										</div>
										<div id="changeState" class="btn-group text-center">
											<a id="link_change_state"
												th:href="@{#{link.contenedores.estado}(id=${contenedor.id})}"
												class="btn-sm"> <i id="iconState"
												th:class="${contenedor.activo == true}? 'fa fa-toggle-on' : 'fa fa-toggle-off'"
												data-toggle="tooltip" th:title="#{lbl_estado}"> </i>
											</a>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- fin table -->
				<!-- paginacion -->
				<div id="pagionationInformation" class="col-xs-12">
					<div class="col-xs-12">
						<div class="text-left">
							<div sd:pagination-summary="info">info</div>
						</div>
					</div>
					<div class="col-xs-12">
						<nav class="text-right">
							<ul class="pagination" sd:pagination="full">
								<li class="btn disabled"><a href="#" aria-label="Previous"><span
										aria-hidden="true">&laquo;</span></a></li>
								<li class="btn active"><a href="#">1 <span
										class="sr-only">(current)</span></a></li>
							</ul>
						</nav>
					</div>
				</div>
				<!-- fin paginacion -->
				<p th:unless="${pageContenedores!=null}"></p>
				<!-- fin  list -->
			</div>
		</div>
		<!-- row -->
	</div>
	<!-- content -->
</body>
</html>
